* {
  box-sizing: border-box;
}

body {
  font-family: 'Futurist', sans-serif;
  width: 100%;
  min-width: 1300px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* custom btn */
.black-btn {
  font-family: 'Futurist', sans-serif;
  width: 280px;
  padding: 10px 0;
  background: #000;
  border: 1px solid #000;
  font-size: 18px;
  color: #fff;
  text-align: center;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  cursor: pointer;
  margin-right:20px;
}
.black-btn:hover {
  background: transparent;
  color: #000;
}

/* important fonts */
.old-standard {
  font-family: 'Old Standard', sans-serif;
}

/* Block title */
.title__block {
  text-align: center;
  margin: 0 0 40px 0;
}

.title__block--title {
  font-family: 'Old Standard', sans-serif;
  font-size: 46px;
  margin: 0;
}

.title__block--white {
  color: #fff;
}

/* other styles */
.politics {
  font-size: 15px;
  overflow: scroll;
  height: 100%;
  padding: 15px;
}

.no-valid {
  border-color: red;
}
.no-valid::-webkit-input-placeholder {
  color: red;
}
.no-valid:-moz-placeholder {
  color: red;
}

/* main-head box*/
.main-head__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 125px;
  border-bottom: 1px solid #000;
}

.main-head__left, .main-head__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

/* logo */
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 260px;
}

.logo__letter {
  font-size: 46px;
  line-height: 58px;
}

.logo__text {
  font-size: 16px;
  margin: 0 0px 0 30px;
  width: 105px;
}

/* main-menu */
.main-head__menu {
  list-style: none;
  padding: 0;
  margin: 0 0 0 65px;
  width: 235px;
}

.main-head__menu--item {
  display: inline-block;
  width: 32%;
  margin: 5px 0;
  font-size: 18px;
}

.main-head__menu--link {
  color: #000;
  text-decoration: none;
}

/* main head btn */
.main-head__btn {
  padding: 10px 0;
  margin: 0 0 0 70px;
  width: 200px;
  text-align: center;
  background: none;
  border: 1px solid #000;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}
.main-head__btn:hover {
  background: #000;
  color: #fff;
}

/* main-head contacts */
.main-head__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-head__contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main-head__contacts .icon {
  margin: 0px 0px 0 3px;
}

.main-head__contacts--time {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  font-size: 14px;
}

.main-head__contacts--phone {
  font-size: 28px;
  margin: 0 0 5px 0;
  color: #000;
  text-decoration: none;
}

.main-head__contacts--adress {
  font-size: 18px;
}

/* banner */
.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 675px;
  overflow: hidden;
}

.banner__head {
  text-align: center;
    margin: 0px 0 30px 0;
}

.banner__head--title {
  font-family: 'Old Standard', sans-serif;
  font-size: 42px;
  margin: 0px 0 20px 0;
}

.banner__head--desc {
  font-size: 24px;
  margin: 0 0 40px 0;
}

.banner__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.banner__fifty {
  position: relative;
  width: calc(50% - 15px);
  margin: 0 15px 0 0;
  height: 405px;
}
.banner__fifty:last-child {
  margin: 0 0 0 15px;
}

.banner__video, .banner__video--img {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner__video--icon {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  cursor: pointer;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}

.banner__girl {
  position: absolute;
  top: -164px;
  right: -155px;
  width: 227px;
  height: 625px;
  background: url(../img/banner_girl.png);
  background-size: cover;
}

/* FORM-BOX */
.form-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}

.form-box--white {
  border-color: #fff;
  color: #fff;
}

.form-box__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-box__title {
  font-size: 24px;
  text-align: center;
  margin: 0 0 50px 0;
}

.form-box__input {
  background: none;
  border: 0;
  border-bottom: 1px solid #000;
  padding: 10px;
  margin: 10px 10px 0 10px;
  font-size: 14px;
  outline: none;
}

.form-box__input--white {
  border-color: #fff;
  color: #fff;
}

.form-box__submit {
  width: 380px;
  padding: 14px 0;
  margin: 65px 0 0 0;
}

/* Course program */
.program {
  padding: 80px 0;
  background: #f5f5f7;
}

.program__head--desc {
  font-size: 24px;
}

.program__head--small {
  display: block;
  margin: 0 0 5px 0;
  font-size: 18px;
}

.program__list {
  position: relative;
  margin: 60px 0 0 0;
}
.program__list:after {
  content: '';
  width: 1px;
  height: 100%;
  position: absolute;
  left: calc(50% - 0.5px);
  top: 0;
  background: #000;
}

.program__step {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 0 0;
}
.program__step:after {
  content: '';
  width: 21px;
  height: 21px;
  border: 1px solid #000;
  background: #f5f5f7;
  position: absolute;
  top: -22px;
  left: calc(50% - 11.5px);
  z-index: 10;
}

.program__step-box {
  width: 50%;
}
.program__step-box:nth-child(odd) {
  padding: 0 70px 0 0;
}
.program__step-box:nth-child(even) {
  padding: 0 0 0 70px;
}

.program__step--img {
  width: 100%;
}

.program__step--number {
  font-size: 14px;
  color: #ae9666;
}

.program__step--title {
  font-family: 'Old Standard', sans-serif;
  font-size: 24px;
  margin: 7px 0 5px 0;
}

.program__step--time {
  font-size: 14px;
  margin: 0 0 12px 0;
  color: #000;
}

.program__step--desc {
  font-size: 18px;
}

.program__step--text {
  margin: 15px 0 0 0;
}

.program__ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.program__ul--item {
  position: relative;
  margin: 0 0 7px 0;
}
.program__ul--item:before {
  content: '--- ';
  letter-spacing: -1px;
  margin: 0 5px 0 0;
  color: #ae9666;
}

.program__buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0 0 0;
}

.program__learn-btn {
  padding: 10px 35px;
  color: #ae9666;
  border: 0;
  background: none;
  text-decoration: underline;
  -moz-text-decoration-color: #cabda5;
       text-decoration-color: #cabda5;
  outline: none;
  -webkit-transition: 0.4s;
          transition: 0.4s;
  cursor: pointer;
}
.program__learn-btn:hover {
  color: #cea147;
  -moz-text-decoration-color: #ae9666;
       text-decoration-color: #ae9666;
}

.program__learn-btn--bordered {
  border: 1px solid #ae9666;
  text-decoration: none;
}
.program__learn-btn--bordered:hover {
  background: #ae9666;
  color: #fff;
}

/* section hr */
.section_hr {
  position: relative;
}
.section_hr:after {
  content: '';
  position: absolute;
  top: -35px;
  left: calc(50% - 9px);
  width: 18px;
  height: 60px;
  background: url(../img/section_hr.png);
  background-size: cover;
}

/* for you */
.for-you {
  padding: 100px 0 0 0;
  height: 580px;
  background: url(../img/for-bg.jpg);
  background-size: cover;
}

.for-you__tabs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.for-you__tabs-ctrl {
  margin: 0;
  width: 300px;
}
.for-you__tabs-content{
	width: 750px;
}
.for-you__tabs-ctrl--item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  height: 80px;
  padding: 0 25px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.for-you__tabs-ctrl--item .dress_1, .for-you__tabs-ctrl--item .dress_2, .for-you__tabs-ctrl--item .dress_3 {
  margin: 0 20px 0 0;
}
.for-you__tabs-ctrl--item:hover, .for-you__tabs-ctrl--item.for-you__tabs-ctrl--active {
  background: #fff;
  color: #000;
}
.for-you__tabs-ctrl--item:hover .dress_1, .for-you__tabs-ctrl--item.for-you__tabs-ctrl--active .dress_1 {
  background-position-x: -24px !important;
}
.for-you__tabs-ctrl--item:hover .dress_2, .for-you__tabs-ctrl--item.for-you__tabs-ctrl--active .dress_2 {
  background-position-x: -18px !important;
}
.for-you__tabs-ctrl--item:hover .dress_3, .for-you__tabs-ctrl--item.for-you__tabs-ctrl--active .dress_3 {
  background-position-x: -23px !important;
}
.for-you__tabs-ctrl--item:hover .arrow-right, .for-you__tabs-ctrl--item.for-you__tabs-ctrl--active .arrow-right {
  background-position-x: -12px;
}

.for-you__tabs-content {
  margin: 0 0 0 100px;
  color: #fff;
}

.for-you__tabs-content--text {
  margin: 0;
  font-size: 18px;
}

.for-you__prof {
  width: 80%;
}

.for-you__tab {
  display: none;
}

.for-you__tab--active {
  display: block;
}

/* advantage */
.advantage {
  padding: 80px 0;
}

.advantage__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.advantage__step {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.advantage__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  height: 360px;
}
.advantage__box:nth-child(odd) .advantage__info {
  padding: 0 50px 0 0;
}
.advantage__box:nth-child(even) .advantage__info {
  padding: 0 0 0 50px;
}

.advantage__info--title {
  font-family: 'Old Standard', sans-serif;
  font-size: 29px;
  margin: 0 0 25px 0;
}

.advantage__info--desc {
  font-size: 18px;
  color: #0f1014;
}

.advantage__poster {
  height: 360px;
}

.advantage__poster--img {
  width: 100%;
  height: 100%;
}

/* Teachers */
.teachers {
  background: #f5f5f7;
  padding: 80px 0;
}

.teachers__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.teachers__list--item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 50%;
}
.teachers__list--item:not(:last-child) {
  margin: 0 50px 0 0;
}

.teachers__list--active {
  border-color: #0e1014;
}

.teachers__list--img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* teacher */
.teacher {
  display: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.teacher--active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.teacher__ava {
  width: 290px;
  margin: 100px 50px 0 0;
}

.teacher__ava--img {
  width: 100%;
  border-radius: 50%;
}

.teacher__info {
  width: calc(100% - 340px);
  margin: 60px 0 0 0;
}

.teacher__info--footer {
  width: 100%;
  margin: 50px 0 0 0;
}

.teacher__info--btn {
  display: block;
  width: 400px;
  margin: 70px auto 0 auto;
}

.teacher__info--name {
  position: relative;
  left: -170px;
  font-size: 30px;
  margin: 0 0 25px 0;
}

.teacher__info--desc {
  font-size: 18px;
  line-height: 30px;
}

.teacher__portfolio {
  margin: 21px 0 0 0;
}

.teacher__portfolio--title {
  font-size: 24px;
  margin: 0 0 20px 0;
  text-align: center;
}

.teacher__certificate {
  width: 290px;
  margin: 50px 0 0 0;
}

.teacher__certificate--img {
  width: 100%;
}

.teacher__achiev {
  margin: 0;
}

.teacher__achiev--item {
  padding: 10px 0 0 0;
  font-size: 18px;
}

.teacher__coop {
  background: #fff;
  padding: 40px 30px;
  margin: 15px 0 0 0;
}

.teacher__coop--title {
  font-family: 'Old Standard', sans-serif;
  font-size: 24px;
  margin: 0 0 20px 0;
  text-align: center;
}

/* free employment */
.free-employ {
  height: 870px;
  background: url(../img/employ-bg.jpg);
  background-size: cover;
  padding: 80px 0;
}

.free-employ__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.free-employ__fifty {
  position: relative;
  width: calc(50% - 15px);
  margin: 0 15px 0 0;
  height: 405px;
}
.free-employ__fifty:last-child {
  margin: 0 0 0 15px;
}

.free-employ__fifty--footer {
  height: 225px;
}

.free-employ__center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.free-employ__fifty--title {
  color: #fff;
  font-size: 24px;
  margin: 0 0 15px 0;
}

.free-employ__list {
  margin: 0;
  list-style: none;
}

.free-employ__list--item {
  color: #fff;
  font-size: 18px;
  padding: 15px 0 0 0;
}
.free-employ__list--item:before {
  content: '--- ';
  letter-spacing: -1.5px;
  margin: 0 5px 0 0;
  color: #fff;
}

.free-employ__white-btn {
  background: #fff;
  border-color: #fff;
  color: #000;
}
.free-employ__white-btn:hover {
  color: #fff;
}

.free-employ__data {
  color: #fff;
  font-size: 24px;
  margin: 0 0 25px 0;
}

.free-employ__data--title {
  display: block;
  font-family: 'Old Standard', sans-serif;
  font-size: 18px;
  margin: 0 0 10px 0;
}

/* students */
.students {
  padding: 80px 0;
}

.students__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.students__list--item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 50%;
}
.students__list--item:not(:last-child) {
  margin: 0 50px 0 0;
}

.students__list--active {
  border-color: #0e1014;
}

.students__list--img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.students__box {
  margin: 70px 0 0 0;
}

/* student */
.student {
  display: none;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.student--active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.student__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

.student__fifty {
  position: relative;
  width: calc(50% - 15px);
  margin: 0 15px 0 0;
  height: 355px;
}
.student__fifty:last-child {
  margin: 0 0 0 15px;
}

.student__three {
  width: calc(30% - 15px);
  height: 250px;
}

.student__seven {
  width: calc(70% - 15px);
  height: 250px;
}

.student__video, .student__video--img {
  position: relative;
  width: 100%;
  height: 100%;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.student__video--icon {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  cursor: pointer;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}

.student__info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.student__info--name {
  font-family: 'Old Standard', sans-serif;
  font-size: 24px;
}

.student__info--status {
  font-size: 14px;
  padding: 3px 0;
}

.student__info--link {
  display: block;
  color: #af9667;
  font-size: 18px;
  text-decoration: none;
}
.student__info--link:hover {
  text-decoration: underline;
}

.student__info--desc {
  font-size: 18px;
  color: #0e1014;
  margin: 20px 0 0 0;
}

.student__portfolio {
  width: 100%;
  margin: 50px 0 0 0;
}

.student__portfolio--title {
  font-family: 'Old Standard', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0 0 30px 0;
}

/* price */
.price {
  padding: 80px 0;
  background: #f5f5f7;
}

.price__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.price__box {
  width: 280px;
  border: 1px solid #000;
  padding: 30px;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}
.price__box:not(:last-child) {
  margin: 0 15px 0 0;
}

.price__box--active {
  background: #fff;
  border-color: #ae9666;
  box-shadow: 0px 0px 19px 1px rgba(174, 150, 102, 0.5);
}
.price__box--vip{
  background: #b8a070;
  border-color: #b8a070;
  box-shadow: 0px 0px 19px 1px rgba(174, 150, 102, 0.5);
}
.price__box--supervip{
  background: #000;
  border-color: #000;
  box-shadow: 0px 0px 19px 1px rgba(174, 150, 102, 0.5);
}


.price__box--title {
  font-family: 'Old Standard', sans-serif;
  font-size: 30px;
  color: #0e1014;
  text-align: center;
  margin: 0 0 45px 0;
}
.price__box--title-vip {
  font-family: 'Old Standard', sans-serif;
  font-size: 30px;
  color: #000;
  text-align: center;
  margin: 0 0 45px 0;
}
.price__box--title-supervip {
  font-family: 'Old Standard', sans-serif;
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin: 0 0 45px 0;
}

.price__option-list {
  margin: 0 0 50px 0;
  padding: 0;
  list-style: none;
}

.price__option-list--item {
  margin: 22px 0 0 0;
  font-size: 18px;
}
.price__option-list--item-vip {
  margin: 22px 0 0 0;
  font-size: 18px;
    color: #000;
}
.price__option-list--item-supervip {
  margin: 22px 0 0 0;
  font-size: 18px;
    color: #fff;
}
.price__option-list--item:before {
  content: '--- ';
  letter-spacing: -1.5px;
  margin: 0 5px 0 0;
  color: #ae9666;
}
.price__option-list--item-vip:before {
  content: '--- ';
  letter-spacing: -1.5px;
  margin: 0 5px 0 0;
  color: #000;
}
.price__option-list--item-supervip:before {
  content: '--- ';
  letter-spacing: -1.5px;
  margin: 0 5px 0 0;
  color: #fff;
}

.price__price-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.price__price-box--new {
  font-size: 26px;
  margin: 0 0 0px 0;
}
.price__price-box--new-supervip {
  font-size: 26px;
  margin: 0 0 0px 0;
   color: #fff;
}
.price__price-box--old {
  position: relative;
}
.price__price-box--old:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  top: calc(50% - .5px);
  left: 0;
  background: #000;
}

.price__price-box--title {
  font-size: 14px;
  margin: 0 25px 0 0;
}

.price__limited {
  font-size: 16px;
  color: #ed2a26;
  text-align: center;
}

.price__btn {
        width: 215px;
  position: relative;
  top: 51px;
}
.price__btn:hover {
  background: #ae9666;
  border-color: #ae9666;
  color: #fff;
}

/* timer */
.timer {
  padding: 25px 0 0 0;
}

.timer__title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin: 0 0 25px 0;
}

.timer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 45px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timer__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 110px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  text-transform: lowercase;
}

.timer__box--numb {
  font-size: 46px;
  line-height: 68px;
}

/* differences */
.differences {
  padding: 80px 0;
  background: #f5f5f7;
}

.differences__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.differences__box {
  width: 460px;
  padding: 30px;
  background: #fff;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.differences__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.differences__list--minus-item {
  position: relative;
  padding: 0 0 0 30px;
  font-size: 18px;
}
.differences__list--minus-item:before {
  content: '--- ';
  position: absolute;
  left: 0;
  letter-spacing: -1.5px;
  margin: 0 5px 0 0;
  color: #000;
}

.differences__list--plus-item {
  position: relative;
  padding: 0 0 0 30px;
  font-size: 18px;
}
.differences__list--plus-item:before {
  content: '+ ';
  position: absolute;
  left: 0;
  letter-spacing: -1.5px;
  margin: 0 5px 0 0;
  color: #000;
}

.differences__center {
  width: calc(100% - 920px);
  padding: 25px 0;
  margin: 0;
  list-style: none;
}

.differences__center--item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #0e1014;
  font-size: 18px;
  color: #0e1014;
  margin: 0 15px;
}
.differences__center--item .icon {
  margin: 0 20px 0 0;
}

.differences__center--name {
  width: 40%;
}

.differences__list li:nth-child(1), .differences__center li:nth-child(1) {
  height: 110px;
}
.differences__list li:nth-child(2), .differences__center li:nth-child(2) {
  height: 65px;
}
.differences__list li:nth-child(3), .differences__center li:nth-child(3) {
  height: 100px;
}
.differences__list li:nth-child(4), .differences__center li:nth-child(4) {
  height: 85px;
}
.differences__list li:nth-child(5), .differences__center li:nth-child(5) {
  height: 105px;
}
.differences__list li:nth-child(6), .differences__center li:nth-child(6) {
  height: 90px;
}

/* vip */
.vip {
  height: 860px;
  padding: 80px 0;
  background: url(../img/vip-bg.jpg);
  background-size: cover;
}

.vip__head {
  margin: 0 0 40px 0;
  text-align: center;
  color: #fff;
}

.vip__head--title {
  font-family: 'Old Standard', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0 0 25px 0;
}

.vip__head--desc {
  font-size: 18px;
  margin: 0 0 85px 0;
}

.vip__ticket {
  position: relative;
  width: 811px;
  height: 370px;
  margin: 0 auto;
  background: url(../img/ticket.png);
  background-size: cover;
}

.vip__ticket--text {
  font-family: 'Old Standard', sans-serif;
  font-size: 30px;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 151px;
  right: -20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.vip__form {
  width: 380px;
  margin: 0 0 0 90px;
  border: 0;
}

/* SMI */
.smi {
  padding: 80px 0;
  background: #f5f5f7;
}

.smi__list {
  position: relative;
  height: 450px;
  overflow: hidden;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}
.smi__list.active {
  height: 1640px;
}
.smi__list.active:after {
  opacity: 0;
}
.smi__list:after {
  content: '';
  width: 100%;
  height: 150px;
  background: -webkit-linear-gradient(transparent, #f5f5f7);
  background: linear-gradient(transparent, #f5f5f7);
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.4s;
          transition: 0.4s;
}
.smi__list a {
  display: inline-block;
  width: 350px;
}

.smi__more-btn {
  display: block;
  background: transparent;
  color: #000;
  margin: 75px auto 0 auto;
}
.smi__more-btn:hover {
  background: #000;
  color: #fff;
}

/* our school */
.our-school {
  padding: 80px 0;
}

/* coop */
.coop {
  padding: 80px 0;
  background: #f5f5f7;
}

[data-role="coop"] img {
  padding: 0 10px;
}

/* faq */
.faq {
  padding: 80px 0;
}

.faq__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.faq__ctrl {
  position: relative;
  width: 50%;
  height: 440px;
  overflow-y: scroll;
}

.faq__ctrl--item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 490px;
  padding: 20px;
  font-size: 18px;
}
.faq__ctrl--item .arrow-right {
  width: 17px !important;
}
.faq__ctrl--item:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}
.faq__ctrl--item:hover .arrow-right {
  width: 18px !important;
  background-position-x: 0 !important;
}

.faq__ctrl--active {
  background: #000;
  color: #fff;
}
.faq__ctrl--active .arrow-right {
  width: 18px !important;
  background-position-x: 0 !important;
}

.faq__content {
  width: 50%;
  padding: 20px 0 0 100px;
}

.faq__box {
  display: none;
}

.faq__box--active {
  display: block;
}

.faq__content--question {
  position: relative;
  font-size: 24px;
  font-family: 'Old Standard', sans-serif;
  margin: 0 0 35px 0;
}
.faq__content--question:after {
  content: 'B:';
  font-family: 'Old Standard', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #ae9666;
  position: absolute;
  top: 0;
  left: -60px;
}

.faq__content--answer {
  position: relative;
  font-size: 18px;
}
.faq__content--answer:after {
  content: 'O:';
  font-family: 'Old Standard', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #ae9666;
  position: absolute;
  top: 0;
  left: -60px;
}

/* maps */
.maps {
  height: 465px;
}

.google-map {
  position: relative;
}

.maps-iframe {
  border: 0;
  width: 100%;
  height: 465px;
  -webkit-filter: grayscale(1) brightness(0.5);
          filter: grayscale(1) brightness(0.5);
}

.maps__contacts-box {
  position: absolute;
  top: 130px;
  right: 195px;
  width: 457px;
  height: 210px;
  background: url(../img/maps-form.png);
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.maps__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 230px;
  margin: 0 0 0 65px;
}

.maps__flex--time {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.maps__flex--email {
  font-size: 24px;
  margin: 10px 0 0 0;
}

/* subfooter */
.sub-footer .main-head__right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sub-footer__box {
  width: 33%;
}

/* social list */
.social {
  margin: 0;
  padding: 0;
}

.social__item {
  display: inline-block;
}
.social__item:not(:last-child) {
  margin: 0 0px 0 0;
}


.social__item--link:hover {
  opacity: 1;
}

/* main-footer */
.main-footer {
  padding: 15px 0;
}
.main-footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer__copyright {
  margin: 0;
}

.main-footer__politics {
  color: #0e1014;
  text-decoration: none;
}
.main-footer__politics:hover {
  text-decoration: underline;
}

.citate-author {
  display: inline-block;
  width: 100%;
  text-align: right;
  color: #869791;
}

.masonry-grid__img {
  width: 350px;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 1px solid #869791;
}

/* owl styles */
.owl-nav {
  position: absolute;
  top: calc(50% - 14.5px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
  opacity: 0;
  -webkit-transition: .2s;
          transition: .2s;
}

.owl-carousel:hover .owl-nav {
  opacity: 1;
  padding: 0 10px;
}

.owl-carousel .owl-stage-outer {
   margin: 0 30px;
}

.our-school__photos .owl-stage .owl-item {
  opacity: 0.4;
  padding: 30px 0;
}
.our-school__photos .owl-stage .owl-item.center {
  opacity: 1;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 100;
}
.our-school__photos span{
  vertical-align: top;
}
/* modal*/
.modal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.4s;
          transition: 0.4s;
}
.modal.active {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.modal__box {
  width: 1000px;
  min-height: 400px;
  background: #fff;
  padding: 30px;
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.modal__box--small { 
width: 350px; 
}

.modal__box--form {
  width: 550px;
  min-height: 175px;
  height: 450px;
}

.modal__content {
  min-height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #000;
}

.modal__content--small {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: bold;
}

.modal__text {
  width: 565px;
  border-right: 1px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.modal__form {
  width: 375px;
}

.modal__form--form {
  border: 0;
}

.modal__form--input {
  margin: 10px 5px 0 5px;
}

.modal__form--btn {
  width: 310px;
}

/* Icons */
.icon {
  display: inline-block;
  background-size: cover !important;
}
.icon.viber {
  background: url(../img/icons/viber.png);
  width: 25px;
  height: 27px;
}
.icon.whatsapp {
  background: url(../img/icons/whatsapp.png);
  width: 25px;
  height: 27px;
}
.icon.play {
  background: url(../img/icons/play.png);
  width: 60px;
  height: 60px;
}
.icon.play:hover {
  background: url(../img/icons/play_hover.png);
}
.icon.arrow-right {
  background: url(../img/icons/arrow-right.png);
  width: 15px;
  height: 9px;
}
.icon.arrow-right.invert {
  background-position-x: -12px;
}
.icon.dress_1 {
  background: url(../img/icons/dress_1.png);
  width: 24px;
  height: 40px;
}
.icon.dress_2 {
  background: url(../img/icons/dress_2.png);
  width: 23px;
  height: 40px;
}
.icon.dress_3 {
  background: url(../img/icons/dress_3.png);
  width: 25px;
  height: 40px;
}
.icon.prev {
  background: url(../img/icons/direction.png);
  width: 13px;
  height: 25px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.icon.next {
  background: url(../img/icons/direction.png);
  width: 13px;
  height: 25px;
}
.icon.book {
  background: url(../img/icons/book.png);
  width: 36px;
  height: 36px;
}
.icon.shirt {
  background: url(../img/icons/t-shirt.png);
  width: 36px;
  height: 36px;
}
.icon.girl {
  background: url(../img/icons/girl.png);
  width: 36px;
  height: 36px;
}
.icon.diamond {
  background: url(../img/icons/diamond.png);
  width: 36px;
  height: 36px;
}
.icon.hanger {
  background: url(../img/icons/hanger.png);
  width: 36px;
  height: 36px;
}
.icon.curr {
  background: url(../img/icons/curr.png);
  width: 36px;
  height: 36px;
}
.icon.facebook {
  background: url(../img/icons/facebook.png);
  width: 25px;
  height: 25px;
}
.icon.twitter {
  background: url(../img/icons/twitter.png);
  width: 25px;
  height: 25px;
}
.icon.instagram {
  background: url(../img/icons/instagram.png);
  width: 25px;
  height: 25px;
}
.icon.vk {
  background: url(../img/icons/vk.png);
  width: 25px;
  height: 25px;
}

/* scrollbar */
::-webkit-scrollbar-button {
  width: 15px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(193, 193, 193, 0.9);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c1c1c1;
}

::-webkit-resizer {
  background-repeat: no-repeat;
  width: 14px;
  height: 0;
}

::-webkit-scrollbar {
  width: 14px;
}
.owl-carousel_hidden{
line-height: 90px;
height: 90px;
text-align: center;
}
.owl-carousel_hidden img{
  
display: inline-block;
  
width: 150px;
  
vertical-align: middle;
  
margin: 0 10px;
}
.teacher__portfolio .owl-carousel .owl-item img{width: initial;display: inline;}
.teacher__portfolio .owl-carousel .owl-item{
  text-align: center;
}