/* line 4, D:/science/aloha/verstka_2/css/sass/style.scss */
#maket {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../maket.jpg) no-repeat center top;
  height: 7103px;
  opacity: 0.5;
  z-index: 20;
  margin-top: 0; }

/* line 39, D:/science/aloha/verstka_2/css/sass/style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat; }

/* line 47, D:/science/aloha/verstka_2/css/sass/style.scss */
:after, :before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both; }

/* line 54, D:/science/aloha/verstka_2/css/sass/style.scss */
sup:after, sup:before, a:after, a:before, br:after, br:before, img:after, img:before, span:after, span:before, table:after, table:before, td:after, td:before, tr:after, tr:before {
  content: none; }

/* line 57, D:/science/aloha/verstka_2/css/sass/style.scss */
h1, h2, h3, h4, h5 {
  font-size: 1em;
  font-weight: inherit;
  text-align: center;
  font-weight: 400; }

/* line 63, D:/science/aloha/verstka_2/css/sass/style.scss */
h3 {
  font-weight: 300; }

/* line 66, D:/science/aloha/verstka_2/css/sass/style.scss */
body {
  font-family: "GothamPro", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  background-color: #fff; }

/* line 74, D:/science/aloha/verstka_2/css/sass/style.scss */
a {
  text-decoration: none;
  color: inherit;
  outline: 0 !important; }

/* line 79, D:/science/aloha/verstka_2/css/sass/style.scss */
a, button {
  cursor: pointer; }

/* line 82, D:/science/aloha/verstka_2/css/sass/style.scss */
button, input, textarea {
  outline: none;
  border: none;
  margin: 0 5px;
  vertical-align: middle; }

/* line 88, D:/science/aloha/verstka_2/css/sass/style.scss */
.section, .head, header, section, footer {
  width: 100%;
  min-width: 1000px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-size: cover !important; }
  /* line 31, D:/science/aloha/verstka_2/css/sass/style.scss */
  .section > div, .head > div, header > div, section > div, footer > div {
    max-width: 1000px;
    position: relative;
    z-index: 2;
    height: 100%;
    margin: 0 auto; }

/* line 91, D:/science/aloha/verstka_2/css/sass/style.scss */
.sec1 {
  height: 807px; }
  /* line 94, D:/science/aloha/verstka_2/css/sass/style.scss */
  .sec1 .header .left {
    float: left; }
    /* line 96, D:/science/aloha/verstka_2/css/sass/style.scss */
    .sec1 .header .left .logo {
      background: url(../img/logo.png) no-repeat;
      width: 45px;
      height: 45px;
      margin-top: 43px; }
    /* line 103, D:/science/aloha/verstka_2/css/sass/style.scss */
    .sec1 .header .left .token {
      color: #183e8c;
      font-family: MuseoCyrl;
      font-size: 23px;
      line-height: 28px; }
    /* line 111, D:/science/aloha/verstka_2/css/sass/style.scss */
    .sec1 .header .left .fizobmen {
      color: #183e8c;
      font-family: GothamPro;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px; }
  /* line 121, D:/science/aloha/verstka_2/css/sass/style.scss */
  .sec1 .header .right {
    float: right;
    line-height: 23px;
    margin-top: 40px; }
    /* line 128, D:/science/aloha/verstka_2/css/sass/style.scss */
    .sec1 .header .right .phone {
      text-align: center;
      font-size: 32px;
      font-weight: 400;
      line-height: 28px;
      padding-right: 20px; }
    /* line 137, D:/science/aloha/verstka_2/css/sass/style.scss */
    .sec1 .header .right .adres {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 7px; }
    /* line 145, D:/science/aloha/verstka_2/css/sass/style.scss */
    .sec1 .header .right .telegram {
      background: url(../img/telegram.png) no-repeat;
      width: 37px;
      height: 37px; }
    /* line 153, D:/science/aloha/verstka_2/css/sass/style.scss */
    .sec1 .header .right .viber {
      background: url(../img/viber.png) no-repeat;
      width: 37px;
      height: 37px; }
  /* line 165, D:/science/aloha/verstka_2/css/sass/style.scss */
  .sec1 h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    color: #0d2a66;
    text-align: left;
    margin-top: 50px;
    letter-spacing: 2.9px; }
  /* line 176, D:/science/aloha/verstka_2/css/sass/style.scss */
  .sec1 p {
    color: #0d2a66;
    font-family: MuseoCyrl;
    font-size: 16px;
    line-height: 27px;
    margin-top: 36px; }
  /* line 183, D:/science/aloha/verstka_2/css/sass/style.scss */
  .sec1 .btn {
    width: 234px;
    height: 54px;
    background-color: #283a83;
    border-radius: 27px;
    text-align: center;
    line-height: 54px;
    color: white;
    margin-top: 104px;
    font-size: 18px; }

/*# sourceMappingURL=style.css.map */