/* line 4, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
#maket {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../maket.jpg) no-repeat left top;
  height: 2698px;
  opacity: 0.5;
  z-index: 20;
  margin-top: 0; }

/* line 38, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat; }

/* line 46, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
:after, :before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both; }

/* line 53, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
sup:after, sup:before, a:after, a:before, br:after, br:before, img:after, img:before, span:after, span:before, table:after, table:before, td:after, td:before, tr:after, tr:before {
  content: none; }

/* line 56, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
h1, h2, h3, h4, h5 {
  font-size: 1em;
  font-weight: inherit;
  text-align: center;
  font-weight: 400; }

/* line 62, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
h3 {
  font-weight: 300; }

/* line 65, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
body {
  font-family: "GothamPro", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  background-color: #fff; }

/* line 73, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
a {
  text-decoration: none;
  color: inherit;
  outline: 0 !important; }

/* line 78, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
a, button {
  cursor: pointer; }

/* line 81, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
button, input, textarea {
  outline: none;
  border: none;
  margin: 0 5px;
  vertical-align: middle; }

/* line 87, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
.section, .head, header, section, footer {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  position: relative;
  z-index: 2; }
  /* line 30, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .section > div, .head > div, header > div, section > div, footer > div {
    max-width: 320px;
    position: relative;
    z-index: 2;
    height: 100%;
    margin: 0 auto; }

/* line 90, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
.sec1 {
  height: 830px;
  background: url(../img/newbg1.jpg) no-repeat center bottom; }
  /* line 93, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec1 .header {
    background-color: #17255d;
    height: 65px; }
    /* line 96, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    .sec1 .header .left {
      margin-top: 10px;
      float: left;
      margin-left: 23px; }
      /* line 100, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
      .sec1 .header .left .logo {
        background: url(../img/logo.png) no-repeat;
        width: 45px;
        height: 45px;
        float: left; }
    /* line 107, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    .sec1 .header .right {
      float: right;
      line-height: 23px;
      margin-right: 26px;
      text-align: right;
      width: 140px; }
      /* line 113, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
      .sec1 .header .right .telegram {
        background: url(../img/telegram.png) no-repeat center;
        width: 37px;
        height: 37px;
        display: inline-block;
        margin-top: 13px;
        margin-left: -3px; }
      /* line 123, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
      .sec1 .header .right .viber {
        margin-top: 13px;
        background: url(../img/viber.png) no-repeat center;
        width: 37px;
        height: 37px;
        display: inline-block;
        margin-left: 8px; }
  /* line 136, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec1 .line .left {
    float: left; }
    /* line 138, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    .sec1 .line .left .logo-text {
      padding-top: 20px;
      padding-left: 30px; }
      /* line 141, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
      .sec1 .line .left .logo-text .token {
        color: #183e8c;
        font-family: "MuseoCyrl", sans-serif;
        font-size: 24px;
        line-height: 20px; }
      /* line 147, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
      .sec1 .line .left .logo-text .fizobmen {
        color: #183e8c;
        font-family: "GothamPro", sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0.3px;
        opacity: 0.86; }
  /* line 158, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec1 .line .right {
    float: right;
    background-image: url(../img/phone.png);
    width: 50px;
    height: 50px;
    margin-right: 24px;
    margin-top: 17px; }
  /* line 167, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec1 h1 {
    font-family: "GothamPro", sans-serif;
    color: #0d2a66;
    text-align: left;
    margin-top: 27px;
    letter-spacing: 0.4px;
    font-size: 29px;
    font-weight: 400;
    line-height: 40px;
    padding-left: 26px; }
  /* line 178, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec1 p {
    color: #0d2a66;
    font-family: "MuseoCyrl", sans-serif;
    font-size: 16px;
    line-height: 27px;
    margin-top: 26px;
    padding-left: 25px;
    letter-spacing: 0.4px; }
  /* line 187, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec1 .btn {
    width: 234px;
    height: 54px;
    background-color: #283a83;
    border-radius: 27px;
    text-align: center;
    line-height: 54px;
    color: white;
    font-size: 17px;
    margin: 22px auto 0;
    cursor: pointer;
    transition: all 0.25s; }
    /* line 199, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    .sec1 .btn:hover {
      background-color: #112e75; }

/* line 204, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
.section {
  height: 413px;
  background: url(../img/newbg2.jpg) no-repeat center; }
  /* line 210, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .section.sec2 h2 {
    color: white;
    font-size: 22px;
    line-height: 26px;
    padding-top: 72px; }
  /* line 217, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .section.sec2 .video {
    width: 100%;
    height: 161px;
    margin: 37px auto 0; }

/* line 224, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
.sec3 {
  background: url(../img/newbg3.jpg) no-repeat center bottom;
  height: 575px; }
  /* line 227, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec3 > div {
    padding-left: 29px; }
  /* line 230, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec3 h2 {
    color: #2d467a;
    font-size: 22px;
    line-height: 26px;
    padding-top: 26px;
    padding-right: 33px; }
  /* line 301, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec3 h3 {
    text-align: left;
    font-size: 30px;
    margin-top: 187px;
    line-height: 33px; }
  /* line 307, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec3 p {
    font-size: 14px;
    margin-top: 16px;
    line-height: 25px;
    letter-spacing: 0.4px; }
  /* line 313, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec3 .slide {
    width: 130px;
    height: 40px;
    margin-left: 65px; }
    /* line 317, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    .sec3 .slide .item {
      margin-left: 9px;
      margin-top: 27px;
      width: 11px;
      height: 11px;
      border: 1px solid #283a83;
      float: left;
      border-radius: 100%; }

/* line 330, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
.sec4 {
  background: url(../img/newbg4.jpg) no-repeat center top;
  width: 100%; }
  /* line 818, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec4 .step3 h2 {
    width: 289px;
    height: 43px;
    color: white;
    font-family: "GothamPro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 56px;
    margin-left: 7px; }
  /* line 829, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  .sec4 .step3 .form {
    text-align: center;
    width: 277px;
    height: 428px;
    background-color: #e8edff;
    border-radius: 23px;
    margin: 68px auto 0;
    padding-top: 5px; }
    /* line 837, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    .sec4 .step3 .form .text {
      color: #0d2a66;
      font-family: GothamPro;
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      padding-top: 23px; }
    /* line 845, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    .sec4 .step3 .form .input {
      width: 231px;
      height: 45px;
      background-color: white;
      border: 1px solid rgba(145, 154, 187, 0.43);
      border-radius: 23px;
      text-align: center;
      font-size: 18px;
      display: block;
      margin: 10px auto 0; }
    /* line 856, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    .sec4 .step3 .form .button {
      width: 234px;
      height: 54px;
      background-color: #283a83;
      border-radius: 27px;
      margin: 24px auto 0;
      display: block;
      color: white;
      font-size: 18px;
      cursor: pointer;
      transition: all 0.25s; }
      /* line 867, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
      .sec4 .step3 .form .button:hover {
        background-color: #112e75; }
    /* line 871, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    .sec4 .step3 .form .back {
      display: inline-block;
      margin-top: 12px;
      font-size: 15px;
      line-height: 18px;
      cursor: pointer; }
      /* line 877, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
      .sec4 .step3 .form .back:hover {
        text-decoration: underline; }

/* line 884, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
footer {
  width: 100%;
  height: 240px;
  background-color: #17255d; }
  /* line 888, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  footer .left {
    background: url(../img/token.png) no-repeat center;
    background-size: 45px 45px;
    background-position: 25px 28px;
    width: 100%; }
    /* line 892, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    footer .left .token {
      margin-left: 80px;
      padding-top: 23px;
      color: white;
      font-family: "MuseoCyrl", sans-serif;
      font-size: 24px;
      line-height: 28px; }
    /* line 901, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    footer .left .fiz {
      opacity: 0.86;
      color: white;
      font-family: "GothamPro", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      margin-left: 81px;
      padding-top: 7px;
      letter-spacing: -0.2px; }
    /* line 912, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    footer .left .confidential {
      font-size: 13px;
      color: white;
      text-align: left;
      padding-top: 24px;
      margin-left: 26px;
      cursor: pointer; }
      /* line 919, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
      footer .left .confidential:hover {
        text-decoration: underline; }
  /* line 924, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  footer .right {
    padding-top: 29px;
    width: 100%; }
    /* line 928, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    footer .right .phone {
      background: url(../img/vibermobile.png) no-repeat center;
      background-position: 1px 1px;
      width: 45px;
      margin-right: 148px;
      margin-left: 6px;
      height: 40px;
      float: right; }
    /* line 939, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    footer .right .telegram {
      background: url(../img/phonemobile.png) no-repeat center;
      background-position: 2px 3px;
      width: 40px;
      float: left;
      height: 40px;
      margin-left: 23px; }
    /* line 949, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    footer .right .viber {
      background: url(../img/telegrammobile.png) no-repeat center;
      background-position: 6px 1px;
      width: 43px;
      float: left;
      height: 40px;
      margin-left: 11px; }

/* line 962, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
#hidden-box {
  display: none; }

/* line 966, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
#okgo {
  width: 300px;
  background: white;
  padding: 20px 20px 20px;
  position: relative;
  text-align: center;
  border-radius: 16px; }
  /* line 973, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  #okgo .close {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
    text-decoration: underline; }
    /* line 979, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    #okgo .close:hover {
      text-decoration: none; }
  /* line 984, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  #okgo p {
    text-align: center;
    font-size: 16px;
    line-height: 24px; }

/* line 992, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
#form-error-pop {
  width: 300px;
  background: white;
  padding: 20px 20px 20px;
  position: relative;
  text-align: center;
  border-radius: 16px; }
  /* line 999, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  #form-error-pop .close {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
    text-decoration: underline; }
    /* line 1005, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    #form-error-pop .close:hover {
      text-decoration: none; }
  /* line 1011, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  #form-error-pop p {
    text-align: center;
    font-size: 16px;
    line-height: 24px; }

/* line 1018, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
#conf {
  width: 300px;
  background: white;
  padding: 20px 20px 20px;
  position: relative;
  text-align: center;
  border-radius: 16px; }
  /* line 1025, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  #conf .close {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
    text-decoration: underline; }
    /* line 1031, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
    #conf .close:hover {
      text-decoration: none; }
  /* line 1036, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  #conf h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 18px; }
  /* line 1043, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
  #conf p {
    font-size: 14px;
    line-height: 20px;
    text-align: left; }

/* line 1050, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
.arcticmodal-container, .arcticmodal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; }

/* line 1051, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse; }

/* line 1052, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
:first-child + html .arcticmodal-container {
  height: 100%; }

/* line 1053, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
.arcticmodal-container_i {
  margin: 0 auto;
  height: 100%; }

/* line 1054, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
.arcticmodal-container_i2 {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: middle; }

/* line 1055, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
#hidden-box {
  display: none; }

/* line 1056, D:/science/aloha/verstki/kript/mobile/css/sass/style.scss */
.error-input {
  border: 1px solid red !important; }

/*# sourceMappingURL=style.css.map */