$fontfamily: 'Roboto';
$afont: 'Roboto';
$wievport: 1020px;
$dark: #141414;
@mixin ibw() {
    text-align: center;
    font-size: 0;
    &>* {
        font-size: 1rem;
        display: inline-block;
        vertical-align: top;
    }
}
@mixin sec() {
    width: 100%;
    min-width: $wievport;
    overflow: hidden;
    position: relative;
    z-index: 2;
    min-height: 600px;
    height: 100vh;
    background-size: cover!important;
    &>div {
        max-width: $wievport;
        position: relative;
        z-index: 2;
        height: 100%;
        margin: 0 auto;
        &>div {
        }
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
}
:after, :before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}
sup:after, sup:before, a:after, a:before, br:after, br:before, img:after, img:before, span:after, span:before, table:after, table:before, td:after, td:before, tr:after, tr:before {
    content: none;
}
h1, h2, h3, h4, h5 {
    font-size: 1em;
    font-weight: inherit;
    text-align: center;
    font-family: $afont;
    font-weight: 300;
    letter-spacing: 0.01em;
}
body {
    font-family: $fontfamily,sans-serif;
    font-weight: 400;
    color: $dark;
}
a {
    text-decoration: none;
    color: inherit;
    outline: 0!important;
}
button, input, textarea {
    outline: none;
}
section {
    @include sec();
}
#maket {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    background: url('../maket.jpg') no-repeat top center;
    height: 13200px;
    opacity: 0.5;
    z-index: 10;
}
#sec1 {
    background-image: url(../img/sec_bg1.png);
    height: 760px;
    color: white;
   
    .logo {
        margin: 0 auto 21px;
        background-image: url(../img/logo.png);
        width: 100%;
        height: 175px;
        display: block;
    }
    .menu {
        display: block;
        text-align: center;
        list-style: none;
        letter-spacing: 49px;
        height: 30px;
        position: relative;
        margin-top: -24px;
    }
    li {
        display: inline-block;
        text-transform: uppercase;
        font-size: 18px;
        line-height: 20px;
        letter-spacing: normal;
        position: relative;
        cursor:pointer;
        transition: all 0.25s;
        border-bottom: 1px solid transparent;
        
        &:hover{
            
            color: #bc9c52;
            border-bottom: 1px solid #bc9c52;

        }
        
        &:after {
            display: block;
            background-image: url(../img/list-ico.png);
            width: 20px;
            height: 4px;
            position: absolute;
            right: -34px;
            top: 8px;
        }
        &:last-of-type:after {
            content: none;
        }
    }
    .phone {
        text-align: center;
        font-size: 44px;
        height: 47px;
        line-height: 44px;
        font-weight: 300;
        margin-top: 272px;
    }
    .button {
        display: block;
        background-image: url(../img/icon-button.png);
        width: 250px;
        height: 60px;
        text-align: center;
        line-height: 55px;
        margin: 20px auto 0;
        font-size: 15px;
        color: #bc9c52;
        position: relative;
        
        transition: all 0.25s;
        &:hover{
            color: white;
            top: -2px;
        }
    }
    .hr {
    }
    .address {
        text-align: center;
        margin-top: 52px;
        span {
            display: inline-block;
            padding-right: 22px;
            border-right: 1px dotted;
            font-size: 17px;
            vertical-align: top;
            line-height: 20px;
            margin-right: 3px;
            padding-left: 14px;
            //letter-spacing: 0.4px;
        }
        a {
            display: inline-block;
            width: 20px;
            height: 20px;
            //background: white;
            margin-left: 10px;
            vertical-align: top;
            line-height: 20px;
            
            transition: all 0.25s;
            
            &:hover {
                transform: scale(1.2);
            }
            
            &.vk {
                background-image: url(../img/vk.png);
            }
            &.instagram {
                background-image: url(../img/instagram.png);
            }
            &.facebook {
                background-image: url(../img/facebook.png);
            }
        }
    }
    .mouse {
        display: block;
        background-image: url(../img/mouse.png);
        cursor: pointer;
        width: 20px;
        height: 30px;
        margin: 26px auto 0;
        
        transition: all 0.25s;

        &:hover {
            transform: scale(1.2);
        }
    }
    .italic {
        font-size: 16px;
        font-style: italic;
        text-align: left;
        color: #c8a555;
        display: block;
        position: absolute;
        right: 0;
        bottom: 21px;
        width: 263px;
        line-height: 30px;
        span {
            width: 1px;
            height: 40px;
            border-left: 1px dotted white;
            position: absolute;
            left: 32px;
            top: -50px;
        }
    }
    .sec1_arr{
        
        width: 40px;
        height: 40px;
        position: absolute;
        border: 2px solid white;
        top: 550px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.25s;
        
        &.arr_left{
            left: -105px;
            background-image: url(../img/arrleft.png);
            &:hover{
                left: -110px;
                
            }
            
        }
        
        &.arr_right{
            right: -105px;
            background-image: url(../img/arrright.png);
            &:hover{
                right: -110px;
                
            }
            
        }
    }
}
#sec2 {
    background-image: url(../img/sec_bg2);
    height: 760px;
   
    .info {
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        height: 40px;
        margin-top: 106px;
        letter-spacing: -1.7px;
        color: #c8a555;
    }
    .orestorane {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        margin-top: 43px;
        line-height: 30px;
        letter-spacing: -0.3px;
        vertical-align: top;
        span{
            vertical-align: top;
            font-size: 24px;
            line-height:30px;
            position: relative;
            top: -1px;
        }
        
        
    }
    .slider-wrap {
        margin:110px auto 0;
        height: 370px;
        width:940px;
        
        .slides {
            
            .slide {
                width: 470px;
                float:left;
                &[data-slide-id="1"]{
                    .img   {
                        background-image: url(../img/blydo2.png);
                    }
                }
                
                &[data-slide-id="2"]{
                    .img   {
                        background-image: url(../img/blydo3.png);
                    }
                }    
                .img {
                    display: block;
                       width: 470px;
                    height: 300px;
                    
                    
                    
                    
                    
                    
                    
                    
                }
                .text {
                    text-align: center;
                    font-size: 14px;
                    margin-top: 18px;
                    letter-spacing: -0.3px;
                    
        
                    
                }
                
            }
        }
        

        .slider_arr {
       width: 14px;
	   height: 40px;
      
           
		
           
        
                        
            
            &.arr_left {  
                background-image: url(../img/arrleft2.png);
				
                
			}
                          
            
       
            &.arr_right {
                background-image: url(../img/arrright2.png);
			}
		}
	}
	
	#sec3 {
		background-image:url(../img/sec_bg3.png);
		height: 760px;
		.brend {
		}
		.man {
		}
		.img {
			background-image: url(../img/man.png);
			height: 260px;
			width: 410px;
			
		}
		.text {
		}
		br {
		}
		.slide {
		}
		.text1 {
		}
		.text2 {
		}
	}
	
	
	
	
	
            
        
    
	