
    .step1 {
        h2 {
            padding-top: 86px;
            text-align: center;
            color: white;
            font-family: GothamPro;
            font-size: 40px;
            font-weight: 400;
            line-height: 44px;
            letter-spacing: 0.7px;
        }
        .block {
            text-align: center;
            .item {
                display: inline-block;
                vertical-align: top;
                width: 277px;
                height: 302px;
                background-color: #e8edff;
                border-radius: 23px;
                margin: 39px 23px 0px;
                padding-top: 30px;
                .img {
                    height: 120px;
                    margin-bottom: 51px;
                    &.img1 {
                        background-image: url(../../img/buyvaluta.png);
                        background-position: 83px 11px;
                    }
                    &.img2 {
                        background-image: url(../../img/buyvaluta2.png);
                        background-position: 83px 11px;
                    }
                }
                .btn {
                    width: 151px;
                    height: 52px;
                    background-color: white;
                    line-height: 52px;
                    color: #0d2a66;
                    font-family: $afont;
                    font-size: 19px;
                    border-radius: 26px;
                    margin: 0 auto;
                    box-shadow: 0 0 22.3px 1.7px rgba(255,255,255,0.1);
                }
            }
        }
    }
    .step2 {
        h2 {
            text-align: center;
            color: white;
            font-family: GothamPro;
            font-weight: 400;
            font-size:20px;
        }
        .block {
            background-color: white;
            margin: 10px auto 0;
            padding-top: 21px;
            text-align: left;
            width: 640px;
            height: 386px;
            margin-top: 66px;
            border-radius: 22px;
            padding-left: 90px;
            .label1 {
                font-size: 20px;
                padding-top: 21px;
            }
            .summ-wrap {
                border-radius: 23px;
                overflow: hidden;
                border: 1px solid rgba(145,154,187,0.43);
                width: 212px;
                background-color: white;
                height: 44px;
                margin-top: 14px;
                margin-left: 3px;
                .number {
                    float: left;
                    font-size: 24px;
                    height: 42px;
                    line-height: 42px;
                    font-family: $afont;
                    padding-left: 28px;
                    width: 147px;
                }
                .valut {
                    float: right;
                    background-color: #c2c9e2;
                    background-image: url(../img/galka.png);
                    background-position: 32px 17px;
                    background-repeat: no-repeat;
                    color: white;
                    font-size: 24px;
                    height: 42px;
                    line-height: 42px;
                    width: 63px;
                    color: #1f283b;
                    font-family: $afont;
                    padding-left: 10px;
                }
            }
            .label2 {
                font-size: 18px;
                padding-top: 28px;
                margin-left: 6px;
                
            }
            .line {
                margin-top: 16px;
                .curs {
                    float: left;
                    font-size: 23px;
                    font-family: $afont;
                    height: 44px;
                    line-height: 44px;
                    width: 54px;
                    padding-left: 5px;
                }
                .type {
                    float: left;
                    border-radius: 40px;
                    overflow: hidden;
                    border: 1px solid  #c2c9e2;
                    color: white;
                    
                width: 377px;
                height: 44px;
                border-radius: 30px;
                    .bitcoin {
                        float: left;
                        background-color: white;
                        background-image: url(../img/icon1.png);
                        background-position: 18px 10px;
                        background-repeat: no-repeat;
                        padding-left: 47px;
                        font-size:15px;
                        color: #0d2a66;
                        width: 116px;
                        
                    height: 42px;
                    line-height: 42px;
                    }
                    .efirium {
                        
                    height: 42px;
                    line-height: 42px;
                        float: left;
                        border-left: 1px solid  #c2c9e2;
                        background-color:#e8edff;
                        background-image: url(../img/icon2.png);
                        background-position: 13px 10px;
                        background-repeat: no-repeat;
                        padding-left: 38px;
                        font-size:15px;
                        width: 127px;
                        color: #505568;
                        opacity: 0.76;
                    }
                    .litecoin {
                        
                    height: 42px;
                    line-height: 42px;
                        float: left;
                        border-left: 1px solid #c2c9e2;
                        background-color:#e8edff;
                        background-image: url(../img/icon3.png);
                        background-position: 14px 10px;
                        background-repeat: no-repeat;
                        padding-left: 43px;
                        width: 132px;
                        font-size:15px;
                        color: #505568;
                    }
                }
            }
            .btn {
                width: 237px;
                height: 54px;
                background-color: #283a83;
                border-radius: 27px;
                text-align: center;
                line-height: 54px;
                margin-top: 40px;
                color:white;
                margin-left: 4px;
                padding-right: 4px;
            }
        }
    }
    .step3 {
        h2 {
            text-align: center;
            color: white;
            font-family: GothamPro;
            font-size: 40px;
            font-weight: 400;
            line-height: 45px;

        }
        .form {
            margin: 19px auto 0;
            text-align: center;
            width: 639px;
            height: 374px;
            background-color: #e8edff;
            border-radius: 23px;
            padding-top: 27px;
            .text {
                color: #0d2a66;
                font-family: GothamPro;
                font-size: 19px;
                font-weight: 400;
                line-height: 37px;
                padding-top: 6px;
                margin-bottom: 9px;
            }
            .input {
                font-size: 18px;
                text-align: center;
                width: 233px;
                height: 45px;
                background-color: white;
                border: 1px solid rgba(145,154,187,0.43);
                border-radius: 23px;
                margin-bottom: 5px;
            }
            .button {
                color: white;
                margin-left: 150px;
                margin-top: 25px;
                display: block;
                text-align: center;
                font-size: 15px;
                width: 234px;
                height: 54px;
                background-color: #283a83;
                border-radius: 27px;
            }
        }
    }
    