/* line 32, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat; }

/* line 33, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
:after, :before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both; }

/* line 34, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
sup:after, sup:before, a:after, a:before, br:after, br:before, img:after, img:before, span:after, span:before, table:after, table:before, td:after, td:before, tr:after, tr:before {
  content: none; }

/* line 35, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
h1, h2, h3, h4, h5 {
  font-size: 1em;
  font-weight: inherit;
  text-align: center;
  font-weight: 300; }

/* line 36, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
body {
  font-family: "Century Gothic", sans-serif;
  font-weight: 400;
  color: #141414; }

/* line 37, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
a {
  text-decoration: none;
  color: inherit;
  outline: 0 !important; }

/* line 38, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
button, input, textarea {
  outline: none; }

/* line 39, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
section {
  width: 100%;
  min-width: 1200px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  min-height: 600px;
  background-size: cover !important; }
  /* line 23, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  section > div {
    max-width: 1200px;
    position: relative;
    z-index: 2;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px; }

/* line 43, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
#maket {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 100%;
  background: url(../maket.jpg) no-repeat top center;
  height: 13200px;
  opacity: 0.5;
  z-index: 10; }

/* line 53, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec1 {
  min-height: 137px;
  height: 90px;
  background-color: white;
  border-bottom: 1px solid black;
  overflow: inherit; }
  /* line 59, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec1 .header {
    min-height: 90px; }
    /* line 61, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec1 .header .left {
      display: inline-block;
      float: left;
      width: 380px;
      padding-top: 8px;
      height: 80px; }
      /* line 67, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec1 .header .left .logo {
        font-size: 18px;
        color: black;
        text-align: center;
        float: left;
        background: url(../img/myhouse.png) no-repeat center;
        background-size: 199px 72px;
        background-position: 0px -1px;
        width: 200px;
        height: 76px;
        padding-top: 27px; }
      /* line 81, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec1 .header .left .exp {
        float: left;
        font-size: 17px;
        margin-top: 21px;
        margin-left: 8px;
        line-height: 18px;
        letter-spacing: -0.6px; }
    /* line 92, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec1 .header .right {
      padding-top: 7px;
      display: inline-block;
      float: right;
      height: 90px;
      margin-right: 0px; }
      /* line 98, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec1 .header .right .phone {
        background: url(../img/phone.png) no-repeat center;
        background-position: 12px 14px;
        padding-left: 47px;
        font-size: 26px;
        font-weight: 800;
        float: left;
        margin-top: 15px;
        line-height: 29px;
        font-family: "Avantibold";
        letter-spacing: 0px; }
      /* line 112, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec1 .header .right .button {
        float: right;
        width: 200px;
        height: 55px;
        color: #404040;
        font-family: "Century Gothic";
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        background-color: #fccd11;
        margin-left: 30px;
        margin-top: 17px;
        text-align: center;
        line-height: 55px; }
  /* line 133, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec1 .menu {
    clear: both; }
    /* line 135, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec1 .menu ul {
      height: 47px;
      text-align: center;
      list-style: none;
      font-size: 0;
      padding-top: 13px; }
      /* line 143, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec1 .menu ul .li {
        height: 33px;
        color: #404040;
        font-family: "Century Gothic";
        font-size: 18px;
        font-weight: 400;
        line-height: 36px;
        text-transform: uppercase;
        display: inline-block;
        margin: 0 22.4px;
        cursor: pointer;
        border-bottom: 5px solid transparent;
        transition: all 0.25s; }
        /* line 157, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
        .sec1 .menu ul .li.active, .sec1 .menu ul .li:hover {
          height: 36px;
          border-bottom: 5px solid #fccd11; }

/* line 167, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec2 {
  background: url(../img/bg1_1.jpg) no-repeat center;
  height: 794px;
  padding-top: 41px; }
  /* line 172, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec2 .yellow {
    height: 443px;
    width: 730px;
    margin-left: 170px;
    border: 8px solid #fccd11;
    padding-left: 91px;
    padding-top: 26px;
    padding-right: 67px; }
    /* line 181, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec2 .yellow h1 {
      font-size: 40px;
      font-weight: 400;
      font-family: "Century Gothic";
      text-align: left; }
    /* line 189, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec2 .yellow ul {
      list-style: none;
      float: left; }
      /* line 192, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec2 .yellow ul .li {
        margin-top: 5px;
        font-size: 25px;
        letter-spacing: -1.6px; }
    /* line 200, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec2 .yellow h2 {
      font-size: 30px;
      float: right;
      margin-top: 107px;
      text-align: right;
      line-height: 36px;
      font-weight: 300;
      font-family: "Century Gothic";
      letter-spacing: 0.0px;
      padding-bottom: 14px; }
      /* line 210, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec2 .yellow h2 span {
        font-weight: 800; }
    /* line 216, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec2 .yellow p {
      line-height: 32px;
      text-align: right;
      font-size: 24px;
      font-style: italic;
      margin-right: 56px;
      letter-spacing: -1.1px; }
  /* line 227, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec2 .katalogwrap {
    padding-top: 98px;
    float: right;
    width: 297px;
    font-weight: 700;
    line-height: 27px; }
    /* line 235, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec2 .katalogwrap .katalog {
      font-size: 22px;
      text-align: right; }
    /* line 240, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec2 .katalogwrap .button {
      background-image: url(../img/downloadarow.png);
      background-size: 31px 38px;
      background-position: 27px 18px;
      width: 299px;
      height: 69px;
      background-color: #ffbe10;
      margin-top: 16px;
      text-align: center;
      font-size: 22px;
      padding-top: 9px;
      padding-left: 44px;
      line-height: 25px; }
      /* line 253, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec2 .katalogwrap .button .razmer {
        color: white;
        font-size: 17px;
        margin-left: 55px; }
    /* line 262, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec2 .katalogwrap .update {
      text-align: right;
      font-size: 17px;
      line-height: 55px;
      margin-right: 0px;
      letter-spacing: 0.2px; }
  /* line 272, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec2 .slide-control {
    width: 250px;
    height: 80px;
    margin: 0px auto;
    font-size: 25px; }

/* line 289, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec3 {
  background: url(../img/bg2.jpg) no-repeat center;
  height: 880px; }
  /* line 292, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec3 .left {
    width: 470px;
    float: left;
    padding-top: 125px; }
    /* line 296, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .left h2 {
      font-size: 62px;
      font-weight: 700;
      color: #4b8903;
      padding-top: 14px;
      /* margin-right: 76px; */
      line-height: 65px;
      padding-right: 32px;
      text-align: center;
      letter-spacing: 2.5px; }
    /* line 308, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .left p {
      text-align: right;
      font-size: 37px;
      font-weight: 600;
      color: orange;
      padding-right: 66px;
      margin-top: 36px; }
      /* line 315, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec3 .left p .fevral {
        font-size: 27px;
        line-height: 27px;
        color: green;
        font-weight: 400; }
    /* line 322, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .left .buttn {
      margin-top: 163px;
      text-align: center;
      font-size: 21px;
      font-weight: 400;
      width: 471px;
      height: 58px;
      line-height: 53px;
      font-family: "Century Gothic"; }
    /* line 332, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .left .calculator {
      margin-top: 71px;
      height: 141px; }
    /* line 336, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .left h3 {
      float: left;
      font-size: 20px; }
    /* line 341, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .left .timer {
      margin-top: 34px;
      width: 471px;
      height: 136px; }
      /* line 345, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec3 .left .timer .schet {
        border: 4px solid orange;
        text-align: center;
        padding-top: 15px;
        margin-top: 17px;
        margin-left: 12px;
        float: left;
        width: 105px;
        height: 105px;
        font-size: 56px; }
        /* line 355, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
        .sec3 .left .timer .schet .small {
          font-size: 20px; }
  /* line 365, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec3 .right {
    float: right;
    width: 520px; }
    /* line 368, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .right .bonus {
      padding-top: 86px;
      padding-left: 50px; }
    /* line 373, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .right ul {
      margin-top: 28px; }
    /* line 377, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .right .zakaz {
      font-size: 18px;
      line-height: 29px;
      background: url(../img/home.png) no-repeat center;
      background-position: 10px 10px; }
    /* line 384, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .right .free {
      font-size: 23px;
      font-weight: 700;
      color: green; }
    /* line 389, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .right .li {
      background: url(../img/plus.png) no-repeat center;
      line-height: 34px;
      background-position: 3px 10px;
      font-size: 18px; }
    /* line 395, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .right .vugoda {
      margin-top: 15px;
      font-size: 18px;
      font-weight: 600; }
    /* line 400, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec3 .right .green {
      margin-left: 6px;
      font-size: 24px;
      color: green; }
  /* line 407, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec3 .mangal {
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 2px;
    line-height: 34px;
    color: green;
    background: url(../img/present.png) no-repeat center;
    background-position: 10px 10px; }

/* line 422, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec4 h1 {
  font-size: 38px;
  padding-top: 77px; }

/* line 426, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec4 .line {
  background-color: #fccd11;
  width: 112px;
  height: 3px;
  margin: 0 auto;
  margin-top: 22px; }

/* line 433, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec4 ul {
  margin-top: 96px;
  list-style: none;
  text-align: center;
  float: left; }
  /* line 440, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec4 ul .li {
    width: 138px;
    display: inline-block;
    height: 138px;
    background-color: #ffbe10;
    border-radius: 100%;
    float: left;
    text-align: center;
    margin: auto 77px; }
    /* line 449, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec4 ul .li .img {
      margin: 0px 25px;
      height: 126px; }
      /* line 452, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec4 ul .li .img.img1 {
        background-image: url(../img/ico1.png);
        background-position: 5px 32px;
        background-repeat: no-repeat; }
      /* line 457, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec4 ul .li .img.img2 {
        background-image: url(../img/ico2.png);
        background-position: 5px 32px;
        background-repeat: no-repeat; }
      /* line 462, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec4 ul .li .img.img3 {
        background-image: url(../img/ico3.png);
        background-position: 5px 32px;
        background-repeat: no-repeat; }
      /* line 467, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec4 ul .li .img.img4 {
        background-image: url(../img/ico4.png);
        background-position: 5px 32px;
        background-repeat: no-repeat; }
    /* line 474, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec4 ul .li .text {
      text-align: center;
      font-size: 22px;
      width: 300px;
      height: 50px;
      margin: 0px auto;
      line-height: 25px; }

/* line 488, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec5 h1 {
  font-size: 40px;
  padding-top: 50px;
  letter-spacing: -0.9px;
  margin-right: 6px; }

/* line 494, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec5 .line {
  background-color: #fccd11;
  width: 112px;
  height: 3px;
  margin: 0 auto;
  margin-top: 20px; }

/* line 501, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec5 p {
  width: 100%;
  padding-top: 51px;
  font-size: 18px;
  line-height: 24px; }

/* line 509, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec5 ul {
  margin-top: 49px; }

/* line 512, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec5 .li {
  font-size: 18px;
  margin-left: 10px;
  line-height: 24px; }

/* line 518, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec5 .text1 {
  margin-top: 27px;
  font-size: 18px; }

/* line 524, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec5 .text2 {
  font-size: 30px;
  text-align: center;
  margin-top: 73px;
  line-height: 32px;
  margin-left: 9px; }

/* line 532, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec6 {
  background: url(../img/bg3.jpg) no-repeat center;
  height: 640px;
  margin-top: 77px; }
  /* line 536, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec6 .left {
    padding-top: 162px;
    float: left;
    text-align: center; }
    /* line 541, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec6 .left .tablet h2 {
      font-size: 36px;
      padding-top: 35px;
      margin-left: 166px;
      color: #ceb806; }
    /* line 548, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec6 .left .tablet p {
      text-align: left;
      color: black;
      margin-left: 166px;
      margin-top: 26px;
      font-size: 22px;
      line-height: 25px;
      font-style: italic; }
    /* line 558, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec6 .left .tablet .img1 {
      margin-left: 161px;
      background: url(../img/doska.png) no-repeat center;
      background-position: 10px 11px;
      height: 88px;
      width: 150px; }
  /* line 570, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec6 .right {
    float: right;
    padding-top: 152px;
    width: 400px;
    text-align: center; }
    /* line 576, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec6 .right p {
      margin-top: 33px;
      color: white;
      font-size: 19px;
      margin-left: -10px;
      margin-right: -10px;
      line-height: 24px;
      letter-spacing: -0.4px;
      font-style: italic; }
    /* line 586, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec6 .right h3 {
      margin-left: 42px;
      margin-right: 37px;
      color: white;
      font-size: 17px;
      letter-spacing: 0.5px; }
    /* line 593, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec6 .right .text3 {
      margin-top: 14px;
      font-size: 25px;
      margin-right: -10px;
      margin-left: -10px;
      line-height: 30px;
      letter-spacing: -0.5px;
      color: white; }
    /* line 602, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec6 .right .line {
      margin-left: 165px;
      margin-top: 25px;
      width: 53px;
      height: 1px;
      background-color: #ceb806; }
    /* line 609, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec6 .right .buttn {
      color: black;
      padding-top: 18px;
      margin-top: 58px;
      font-size: 22px;
      font-family: "Avantibold";
      height: 55px;
      background: url(../img/play.png) no-repeat left;
      background-position: 17px 4px;
      background-color: #ceb806; }

/* line 624, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec7 h2 {
  padding-top: 79px;
  font-size: 38px;
  margin-right: 7px; }

/* line 629, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec7 .line {
  margin-top: 25px;
  width: 110px;
  height: 1px;
  background-clip: #ceb806; }

/* line 635, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec7 .ul {
  padding-top: 82px; }
  /* line 637, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec7 .ul .li {
    width: 500px;
    float: left;
    margin-left: 100px;
    margin-right: -100px;
    min-height: 160px; }
    /* line 643, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec7 .ul .li:nth-of-type(2n-1) {
      clear: both; }
    /* line 646, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec7 .ul .li .h4 {
      font-size: 24px;
      width: 383px;
      text-align: left;
      padding-left: 150px;
      margin-top: 4px;
      margin-left: 50px;
      height: 29px;
      border-bottom: 2px solid #ceb806; }
    /* line 656, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec7 .ul .li .img {
      float: left;
      width: 156px;
      height: 158px;
      margin-top: -31px;
      border-radius: 81px;
      border: 4px solid #ceb806; }
      /* line 663, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec7 .ul .li .img.img1 {
        background: url(../img/kryg1.png) no-repeat center;
        background-position: -12px -11px; }
      /* line 669, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec7 .ul .li .img.img2 {
        background: url(../img/kryg2.png) no-repeat center;
        background-position: -11px -14px;
        margin-bottom: 21px; }
      /* line 675, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec7 .ul .li .img.img3 {
        background: url(../img/kryg3.png) no-repeat center;
        background-position: -12px -11px; }
      /* line 680, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec7 .ul .li .img.img4 {
        background: url(../img/kryg4.png) no-repeat center;
        background-position: -12px -11px;
        margin-bottom: 56px; }
      /* line 686, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec7 .ul .li .img.img5 {
        background: url(../img/kryg5.png) no-repeat center;
        background-position: -12px -11px; }
      /* line 691, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec7 .ul .li .img.img6 {
        background: url(../img/kryg6.png) no-repeat center;
        background-position: -12px -11px;
        margin-bottom: 15px; }
      /* line 697, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec7 .ul .li .img.img7 {
        background: url(../img/kryg7.png) no-repeat center;
        background-position: -12px -11px; }
      /* line 702, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec7 .ul .li .img.img8 {
        background: url(../img/kryg8.png) no-repeat center;
        background-position: -12px -11px; }
    /* line 707, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec7 .ul .li .text {
      margin-top: 7px;
      text-align: left;
      font-size: 14px;
      margin-left: 40px;
      line-height: 21px;
      float: left; }

/* line 723, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec7 .button {
  color: black;
  text-align: center;
  /* margin-top: 100px; */
  font-size: 18px;
  line-height: 61px;
  height: 60px;
  width: 970px;
  background-color: #fccd11;
  text-transform: uppercase;
  margin: 100px auto 0; }

/* line 740, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec8 {
  height: 1372px;
  padding-top: 85px; }
  /* line 743, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec8 h4 {
    font-size: 38px; }
  /* line 746, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec8 .proektu {
    font-size: 20px;
    text-align: center;
    background-position: 288px 7px;
    height: 40px;
    line-height: 43px; }
    /* line 752, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec8 .proektu span {
      vertical-align: middle;
      display: inline-block;
      width: 34px;
      height: 40px;
      margin-left: -44px;
      margin-right: 4px;
      position: relative;
      top: -2px;
      background: url(../img/okey.png) no-repeat center; }
  /* line 765, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec8 .line2 {
    width: 110px;
    height: 3px;
    background-color: #fccd11;
    margin: 16px auto 0; }

/* line 774, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec9 {
  padding-top: 83px; }
  /* line 776, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec9 h2 {
    font-size: 38px;
    letter-spacing: 0.2px; }
  /* line 780, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec9 .line {
    width: 110px;
    height: 3px;
    margin-top: 20px; }
  /* line 786, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec9 .left {
    margin-top: 67px;
    width: 730px;
    float: left;
    display: inline-block; }
    /* line 791, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec9 .left .li {
      width: 351px;
      height: 175px;
      float: left;
      margin-right: 13px;
      margin-bottom: 18px; }
      /* line 797, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec9 .left .li.ly {
        width: 701px;
        height: 156px;
        margin-top: 12px; }
      /* line 803, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec9 .left .li h3 {
        text-align: left;
        font-size: 20px;
        margin-right: 13px;
        font-style: italic;
        height: 24px;
        border-bottom: 1px solid #fccd11;
        margin-bottom: 16px;
        padding-left: 12px; }
      /* line 813, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec9 .left .li .btn {
        border: 1px solid #cbcbcb;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.36);
        width: 52px;
        height: 50px;
        float: left;
        margin-bottom: 4px;
        margin-right: 5px;
        text-align: center;
        line-height: 47px;
        font-size: 18px;
        font-style: italic; }
        /* line 826, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
        .sec9 .left .li .btn.btn1 {
          width: 167px; }
        /* line 831, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
        .sec9 .left .li .btn.btn2 {
          width: 338px;
          margin-top: 11px;
          font-size: 18px; }
        /* line 841, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
        .sec9 .left .li .btn.btn3 {
          width: 100%;
          font-size: 17px;
          height: 115px;
          text-align: left;
          padding-left: 11px;
          letter-spacing: 0.5px; }
      /* line 850, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec9 .left .li .line {
        width: 337px;
        height: 3px;
        background-color: #fccd11; }
      /* line 856, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec9 .left .li .btn4 {
        border: 1px solid #cbcbcb;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.36);
        margin-top: 20px;
        width: 52px;
        height: 52px;
        float: left;
        margin-right: 5px;
        text-align: center;
        line-height: 49px;
        font-size: 17px;
        font-style: italic;
        background-color: #fccd11; }
    /* line 872, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec9 .left .ras4et {
      width: 700px;
      height: 60px;
      background-color: #fccd11;
      margin-top: 29px;
      text-align: center;
      font-size: 18px;
      line-height: 62px; }
  /* line 883, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec9 .right {
    float: right;
    margin-top: 91px;
    width: 435px;
    height: 636px;
    border: 1px solid #fccd11;
    text-align: center; }
    /* line 890, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec9 .right h4 {
      margin-top: 27px;
      font-size: 26px;
      margin-right: 23px; }
    /* line 895, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec9 .right p {
      font-size: 18px;
      margin-top: 17px;
      margin-right: 17px;
      line-height: 24px;
      letter-spacing: 0.2px; }
      /* line 901, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec9 .right p span {
        color: #404040;
        text-decoration: underline; }
    /* line 906, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec9 .right .img {
      height: 207px;
      width: 100%;
      background: url(../img/domik.png) no-repeat center;
      background-position: 27px 15px;
      background-size: contain; }
    /* line 914, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec9 .right .ul .li {
      width: 300px;
      height: 40px;
      background-color: white;
      margin-left: 57px;
      margin-top: 7px;
      margin-bottom: 25px;
      letter-spacing: -0.5px; }
      /* line 925, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec9 .right .ul .li .input1 {
        background: url(../img/face.png) no-repeat center;
        background-position: 8px 12px;
        font-size: 19px;
        line-height: 38px;
        font-style: italic;
        text-align: left;
        padding-left: 37px;
        border: 1px solid rgba(116, 116, 116, 0.4);
        box-shadow: inset 2.1px 2.1px 4px rgba(0, 0, 0, 0.41); }
      /* line 937, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec9 .right .ul .li .input2 {
        background: url(../img/phone2.png) no-repeat center;
        background-position: 10px 10px;
        font-size: 19px;
        line-height: 38px;
        font-style: italic;
        text-align: left;
        padding-left: 37px;
        border: 1px solid #f9c40b; }
      /* line 948, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec9 .right .ul .li .input3 {
        background: url(../img/dwnld.png) no-repeat center;
        background-position: 9px 9px;
        width: 179px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        color: white;
        float: left;
        background-color: #f9c40b;
        padding-left: 30px;
        letter-spacing: -0.4px;
        font-style: italic;
        padding-bottom: 15px; }
      /* line 964, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec9 .right .ul .li .input4 {
        width: 121px;
        height: 40px;
        float: right;
        line-height: 40px;
        font-size: 17px;
        font-style: italic;
        padding-right: 8px;
        border: 1px solid rgba(116, 116, 116, 0.4);
        box-shadow: inset 2.1px 2.1px 4px rgba(0, 0, 0, 0.41);
        border-top-left-radius: none; }
      /* line 978, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec9 .right .ul .li .input5 {
        margin-top: 17px;
        width: 100%;
        height: 45px;
        background-color: #4b8903;
        line-height: 20px;
        font-size: 19px;
        color: white;
        line-height: 47px; }

/* line 998, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec10 .para {
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
  line-height: 26px; }

/* line 1005, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec10 h1 {
  padding-top: 98px;
  font-size: 38px; }

/* line 1009, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec10 .line {
  width: 110px;
  height: 3px;
  background-color: #fccd11;
  margin: 20px auto; }

/* line 1016, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec10 .map {
  max-width: 100%;
  padding: 0;
  left: 0;
  background: url(../img/bg4.jpg) no-repeat center;
  height: 402px;
  margin-top: 48px;
  position: relative;
  background-color: #fccd11; }
  /* line 1025, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec10 .map .dostavka {
    top: 0;
    position: absolute;
    left: 50%;
    width: 400px;
    margin-left: -585px;
    height: 100%; }
    /* line 1032, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec10 .map .dostavka p {
      margin-top: 25px;
      font-size: 18px;
      line-height: 24px;
      text-align: left;
      padding-left: 41px; }
  /* line 1042, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec10 .map .btn {
    margin-top: 21px;
    height: 45px;
    padding: 0 15px 0 19px; }
    /* line 1048, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec10 .map .btn .input1 {
      text-align: left;
      width: 245px;
      float: left;
      height: 45px;
      /* margin-left: 28px; */
      font-style: italic;
      font-size: 18px;
      /* margin-top: 13px; */
      background-color: white;
      padding-left: 24px;
      padding-top: 13px; }
    /* line 1062, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec10 .map .btn .input2 {
      float: right;
      width: 120px;
      text-align: right;
      height: 45px;
      background-color: green;
      color: white;
      padding-right: 30px;
      font-size: 18px;
      padding-top: 14px; }
  /* line 1074, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec10 .map .stoimoctb {
    width: 366px;
    margin: 29px auto 0px;
    height: 114px;
    border: 2px solid white; }
    /* line 1079, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec10 .map .stoimoctb .left {
      float: left;
      text-align: center;
      width: 165px;
      padding-top: 22px;
      font-size: 17px; }
      /* line 1085, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec10 .map .stoimoctb .left span {
        display: block;
        color: green;
        font-weight: 800;
        font-size: 24px;
        margin-top: 15px; }
    /* line 1093, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec10 .map .stoimoctb .right {
      float: right;
      text-align: center;
      width: 165px;
      padding-top: 22px;
      font-size: 17px;
      padding-right: 21px; }
      /* line 1101, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
      .sec10 .map .stoimoctb .right span {
        display: block;
        color: green;
        font-weight: 800;
        font-size: 24px;
        margin-top: 15px; }

/* line 1120, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec11 h2 {
  padding-top: 84px;
  font-size: 38px;
  padding-right: 20px;
  letter-spacing: 0.5px; }

/* line 1126, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec11 .line {
  width: 110px;
  height: 3px;
  background-color: #fccd11;
  margin: 19px auto; }

/* line 1132, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
.sec11 .block {
  width: 572px;
  height: 1445px;
  box-shadow: 0 0 10px #7d7979;
  margin-top: 46px; }
  /* line 1137, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec11 .block.block1 {
    float: left; }
  /* line 1140, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec11 .block.block2 {
    float: right; }
  /* line 1144, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec11 .block h3 {
    margin: 31px auto;
    width: 500px;
    border: 2px solid #fccd11;
    height: 71px;
    line-height: 80px;
    margin-bottom: 44px; }
    /* line 1152, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
    .sec11 .block h3 span {
      font-size: 20px;
      line-height: 26px;
      display: inline-block;
      vertical-align: middle;
      font-weight: 700;
      padding-bottom: 14px; }
  /* line 1163, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec11 .block .part h4 {
    background: url(../img/palo4ka.png) no-repeat center;
    height: 35px;
    font-size: 22px;
    background-position: 72px 24px; }
  /* line 1169, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec11 .block .part p {
    font-size: 19px;
    text-align: left;
    margin-left: 82px;
    padding-top: 13px;
    line-height: 26px;
    padding-right: 21px;
    font-style:;
    }
  /* line 1177, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec11 .block .part.part1 {
    height: 260px;
    }
  /* line 1180, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec11 .block .part.part2 {
    height: 416px; }
  /* line 1183, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec11 .block .part.part3 {
    height: 311px; }
  /* line 1186, D:/science/aloha/verstki/parilka/src/desktop/css/sass/style.scss */
  .sec11 .block .part.part4 {
    height: 120px; }

/*# sourceMappingURL=style.css.map */