* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat; }

:after, :before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both; }

sup:after, sup:before, a:after, a:before, br:after, br:before, img:after, img:before, span:after, span:before, table:after, table:before, td:after, td:before, tr:after, tr:before {
  content: none; }

h1, h2, h3, h4, h5 {
  font-size: 1em;
  font-weight: inherit;
  text-align: center;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 0.01em; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #141414; }

a {
  text-decoration: none;
  color: inherit;
  outline: 0 !important; }

button, input, textarea {
  outline: none; }

section {
  width: 100%;
  min-width: 1020px;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 0px;
  z-index: 2;
  background-size: cover !important; }
  section > div {
    max-width: 1020px;
    position: relative;
    z-index: 2;
    height: 100%;
    margin: 0 auto; }

#maket {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  background: url("../maket.jpg") no-repeat top center;
  height: 7125px;
  opacity: 0.5;
  z-index: 10; }

#sec1 {
  background-image: url(../img/sec_bg1.png);
  height: 760px;
  color: white; }
  #sec1 .logo {
    margin: 1px auto 0px;
    background-image: url(../img/logo.png);
    width: 100%;
    height: 175px;
    display: block; }
  #sec1 .menu {
    display: block;
    text-align: center;
    list-style: none;
    letter-spacing: 53px;
    height: 31px;
    position: relative;
    margin-top: -5px; }
  #sec1 li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: normal;
    position: relative;
    cursor: pointer;
    transition: all 0.25s;
    border-bottom: 1px solid transparent; }
    #sec1 li:hover {
      color: #bc9c52;
      border-bottom: 1px solid #bc9c52; }
    #sec1 li:after {
      display: block;
      background-image: url(../img/list-ico.png);
      width: 20px;
      height: 4px;
      position: absolute;
      right: -34px;
      top: 11px; }
    #sec1 li:last-of-type:after {
      content: none; }
  #sec1 .phone {
    text-align: center;
    font-size: 44px;
    height: 47px;
    line-height: 44px;
    font-weight: 300;
    margin-top: 272px;
    letter-spacing: 1.0px; }
  #sec1 .button {
    display: inline-block;
    background-image: url(../img/icon-button.png);
    width: 250px;
    height: 60px;
    text-align: center;
    line-height: 55px;
    margin: 20px auto 0;
    font-size: 15px;
    color: #bc9c52;
    position: relative;
    transition: all 0.25s; }
    #sec1 .button:hover {
      color: white;
      top: -2px; }
  #sec1 .hr {
    width: 40px;
    border: 1px solid #c9a64e;
    position: relative;
    left: 489px;
    top: 28px; }
  #sec1 .address {
    text-align: center;
    margin-top: 51px; }
    #sec1 .address span {
      display: inline-block;
      padding-right: 22px;
      border-right: 1px dotted;
      font-size: 17px;
      vertical-align: top;
      line-height: 20px;
      margin-right: 10px;
      padding-left: 10px;
      text-align: left;
      letter-spacing: 0.2px; }
    #sec1 .address a {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 11px;
      vertical-align: top;
      line-height: 20px;
      transition: all 0.25s; }
      #sec1 .address a:hover {
        transform: scale(1.2); }
      #sec1 .address a.vk {
        background-image: url(../img/vk.png); }
      #sec1 .address a.instagram {
        background-image: url(../img/instagram.png); }
      #sec1 .address a.facebook {
        background-image: url(../img/facebook.png); }
  #sec1 .mouse {
    display: block;
    background-image: url(../img/mouse.png);
    cursor: pointer;
    width: 20px;
    height: 30px;
    margin: 26px auto 0;
    transition: all 0.25s; }
    #sec1 .mouse:hover {
      transform: scale(1.2); }
  #sec1 .italic {
    font-size: 16px;
    font-style: italic;
    text-align: left;
    color: #c8a555;
    display: block;
    position: absolute;
    right: 0;
    bottom: 21px;
    width: 263px;
    line-height: 30px; }
    #sec1 .italic span {
      width: 1px;
      height: 40px;
      border-left: 1px dotted white;
      position: absolute;
      left: 32px;
      top: -50px; }
  #sec1 .sec1_arr {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 2px solid white;
    top: 550px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.25s; }
    #sec1 .sec1_arr.arr_left {
      left: -105px;
      background-image: url(../img/arrleft.png); }
      #sec1 .sec1_arr.arr_left:hover {
        left: -110px; }
    #sec1 .sec1_arr.arr_right {
      right: -105px;
      background-image: url(../img/arrright.png); }
      #sec1 .sec1_arr.arr_right:hover {
        right: -110px; }

#sec2 {
  background-image: url(../img/sec_bg2.png);
  height: 760px; }
  #sec2 .info {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    margin-top: 106px;
    letter-spacing: -1.7px;
    color: #c8a555; }
  #sec2 .orestorane {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin-top: 43px;
    line-height: 30px;
    letter-spacing: -0.3px;
    vertical-align: top; }
    #sec2 .orestorane span {
      vertical-align: top;
      font-size: 24px;
      line-height: 30px;
      position: relative;
      top: -1px; }
  #sec2 .slider-wrap {
    margin: 110px auto 0;
    height: 370px;
    width: 940px;
    position: relative; }
    #sec2 .slider-wrap .slides .slide {
      width: 470px;
      float: left; }
      #sec2 .slider-wrap .slides .slide[data-slide-id="1"] .img {
        background-image: url(../img/blydo2.png); }
      #sec2 .slider-wrap .slides .slide[data-slide-id="2"] .img {
        background-image: url(../img/blydo3.png); }
      #sec2 .slider-wrap .slides .slide .img {
        display: block;
        width: 470px;
        height: 300px; }
      #sec2 .slider-wrap .slides .slide .text {
        text-align: center;
        font-size: 14px;
        margin-top: 18px;
        letter-spacing: -0.3px; }
    #sec2 .slider-wrap .slider_arr {
      width: 40px;
      height: 14px;
      position: absolute;
      top: 144px;
      cursor: pointer;
      transition: all 0.25s; }
      #sec2 .slider-wrap .slider_arr.arr_left {
        background-image: url(../img/arrleft2.png);
        left: -30px; }
        #sec2 .slider-wrap .slider_arr.arr_left:hover {
          left: -38px; }
      #sec2 .slider-wrap .slider_arr.arr_right {
        background-image: url(../img/arrright2.png);
        right: -30px; }
        #sec2 .slider-wrap .slider_arr.arr_right:hover {
          right: -38px; }

#sec3 {
  background-image: url(../img/sec_bg3.png);
  height: 730px;
  position: relative;
  z-index: 0; }
  #sec3 .left-part {
    float: left;
    width: 504px;
    margin-top: 140px; }
    #sec3 .left-part .img {
      background-image: url(../img/man.png);
      height: 260px;
      width: 410px;
      margin-left: 38px; }
    #sec3 .left-part .text {
      text-align: left;
      position: relative;
      font-size: 23px;
      margin-left: 88px;
      line-height: 45px;
      margin-top: 46px;
      letter-spacing: 0.2px; }
      #sec3 .left-part .text span {
        position: absolute;
        left: -47px;
        top: 3px;
        color: #caa746;
        font-size: 42px;
        display: block;
        line-height: 30px;
        height: 30px; }
  #sec3 .right-part {
    text-align: left;
    float: left;
    margin-top: 140px; }
    #sec3 .right-part .text1 {
      position: relative;
      font-size: 25px;
      margin-left: 1px;
      line-height: 45px;
      margin-top: -6px; }
    #sec3 .right-part .brend-text {
      font-size: 14px;
      color: #caa746;
      position: relative;
      top: -15px;
      letter-spacing: -0.4px;
      text-align: left; }
    #sec3 .right-part .after-line {
      width: 40px;
      border-bottom: 1px solid #caa746;
      position: absolute;
      left: 4px;
      top: 61px; }
    #sec3 .right-part .boss {
      font-size: 16px;
      line-height: 30px;
      margin-top: 30px;
      letter-spacing: -0.1px;
      text-align: left; }
      #sec3 .right-part .boss span {
        vertical-align: top;
        font-size: 24px;
        line-height: 30px;
        position: relative;
        top: -1px; }

#sec4 {
  background-image: url(../img/sec_bg4.jpg);
  height: 460px;
  z-index: 3;
  position: relative;
  padding-top: 116px; }
  #sec4 .wrap {
    text-align: center; }
  #sec4 .menu {
    font-size: 35px;
    color: #caa746;
    text-align: center;
    letter-spacing: -0.1px;
    line-height: 42px; }
  #sec4 .bar {
    color: #caa746;
    font-size: 18px;
    margin-top: 45px;
    letter-spacing: -0.3px; }
  #sec4 span {
    vertical-align: top;
    font-size: 22px;
    position: relative;
    top: -3px; }
  #sec4 .button {
    vertical-align: block;
    display: inline-block;
    color: #caa746;
    text-align: center;
    line-height: 55px;
    letter-spacing: -0.1px;
    margin-top: 52px;
    margin-left: 8px;
    margin-right: 8px;
    background-image: url(../img/ramka.png);
    width: 150px;
    height: 60px;
    transition: all 0.25s;
    font-size: 15px; }
    #sec4 .button:hover {
      color: white;
      top: -2px; }

#sec5 {
  background-color: white;
  height: 1890px;
  z-index: 5; }
  #sec5 .wrap {
    position: relative;
    z-index: 5;
    padding-top: 1px; }
  #sec5 .buisnes {
    text-align: center;
    font-size: 37px;
    color: #caa746;
    margin-top: 111px;
    letter-spacing: -0.3px; }
  #sec5 .p {
    font-size: 18px;
    text-align: center;
    position: relative;
    margin-top: 47px;
    letter-spacing: -0.5px;
    margin-left: -17px; }
  #sec5 .cif {
    color: #caa746;
    position: relative; }
    #sec5 .cif span {
      text-decoration: underline;
      font-size: 11px;
      margin-top: 2px;
      position: absolute;
      top: -13px; }
  #sec5 .do {
    display: inline-block;
    margin-left: 9px; }
  #sec5 .fon {
    position: relative;
    background-image: url(../img/bg_salatu.jpg);
    height: 460px;
    width: 940px;
    display: inline-block;
    vertical-align: top;
    margin-top: 56px; }
    #sec5 .fon .salatu {
      text-align: center;
      font-size: 30px;
      margin-top: 52px;
      letter-spacing: -2.2px;
      color: #caa746; }
    #sec5 .fon .ul {
      display: inline-block;
      text-align: center;
      width: 100%;
      margin-top: 35px; }
    #sec5 .fon .blyda {
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 33.3%; }
    #sec5 .fon .zah {
      height: 70px;
      border-right: 1px dotted white; }
    #sec5 .fon .blyda:last-of-type .zah {
      border: none; }
    #sec5 .fon .text {
      font-size: 16px;
      line-height: 28px;
      color: white;
      margin-top: 8px;
      display: inline-block;
      vertical-align: top; }
      #sec5 .fon .text.vini {
        margin-top: 22px; }
    #sec5 .fon .price {
      background-image: url(../img/yellowramka.png);
      display: inline-block;
      position: relative;
      vertical-align: top;
      width: 90px;
      height: 55px;
      margin-top: 17px;
      font-size: 20px;
      color: #caa746;
      line-height: 55px; }
      #sec5 .fon .price span {
        position: absolute;
        font-size: 12px;
        color: white;
        bottom: 21px;
        right: -19px;
        line-height: 12px; }
    #sec5 .fon .tochki {
      position: absolute;
      width: 100px;
      height: 6px;
      left: 50%;
      margin-left: -50px;
      bottom: 30px; }
      #sec5 .fon .tochki .tochka {
        display: inline-block;
        vertical-align: middle;
        background-image: url(../img/whitelem.png);
        width: 10px;
        height: 2px;
        margin: 0 5px; }
      #sec5 .fon .tochki .tochka.active {
        background-image: url(../img/yellowelem.png);
        width: 20px;
        height: 6px; }
  #sec5 .fon.sypu {
    margin-top: 20px;
    background-image: url(../img/sypubg.jpg);
    display: inline-block;
    vertical-align: middle; }
    #sec5 .fon.sypu .kawtan {
      margin-top: 22px; }
  #sec5 .fon.osnovni {
    margin-top: 20px;
    background-image: url(../img/osnovnibg.jpg);
    display: inline-block;
    vertical-align: middle; }
    #sec5 .fon.osnovni .blyda {
      width: 25%; }
  #sec5 .pottext {
    font-size: 18px;
    color: #777777;
    letter-spacing: -0.6px;
    margin-top: 49px; }
    #sec5 .pottext span {
      font-size: 22px;
      color: #caa646; }

#sec6 {
  background-image: url(../img/sec_bg6.jpg);
  height: 480px; }
  #sec6 .wrap {
    position: relative;
    padding-top: 1px; }
  #sec6 .news {
    font-size: 36px;
    color: White;
    margin-top: 92px; }
  #sec6 .chetverg {
    background-image: url(../img/yellowramka2.png);
    width: 100%;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin-top: 53px;
    font-size: 18px;
    color: white;
    padding-top: 20px;
    letter-spacing: 0.4px;
    line-height: 31px; }
  #sec6 .arrows {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 30px;
    padding: 0 25px; }
    #sec6 .arrows .arowleft {
      display: inline-block;
      background-image: url(../img/arrowleft.png);
      width: 40px;
      height: 40px;
      float: left; }
    #sec6 .arrows span {
      display: inline-block;
      font-size: 12px;
      color: white;
      margin-top: 13px;
      letter-spacing: -0.5px; }
    #sec6 .arrows .arowright {
      display: inline-block;
      background-image: url(../img/arrowright.png);
      width: 40px;
      height: 40px;
      float: right; }

#sec7 {
  background-color: white;
  height: 780px; }
  #sec7 .wrap {
    padding-top: 1px; }
  #sec7 .gelery {
    display: inline-block;
    vertical-align: top;
    font-size: 36px;
    color: #caa646;
    margin-top: 114px;
    text-align: center; }
  #sec7 .client {
    color: #777777;
    font-size: 17px;
    margin-top: 45px;
    letter-spacing: -0.3px; }
  #sec7 .sliders {
    background-image: url(../img/sec_bg7.jpg);
    width: 940px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
    margin-top: 56px;
    position: relative; }
  #sec7 .arowleft {
    position: absolute;
    display: inline-block;
    background-image: url(../img/arrleft2.png);
    width: 40px;
    height: 14px;
    left: -30px;
    margin-top: 243px;
    cursor: pointer;
    transition: all 0.25s; }
    #sec7 .arowleft:hover {
      left: -38px; }
  #sec7 .arowright {
    position: absolute;
    display: inline-block;
    background-image: url(../img/arrright2.png);
    width: 40px;
    height: 14px;
    margin-top: 243px;
    right: -30px; }
    #sec7 .arowright:hover {
      right: -38px; }

#sec8 {
  background-image: url(../img/sec_bg8.jpg);
  height: 800px; }
  #sec8 .wrap {
    padding-top: 1px;
    text-align: center; }
  #sec8 .contacts {
    display: inline-block;
    vertical-align: top;
    font-size: 36px;
    color: #caa646;
    margin-top: 114px;
    text-align: center; }
  #sec8 .adress {
    color: #777777;
    font-size: 17px;
    margin-top: 42px;
    letter-spacing: 0.1px;
    line-height: 29px; }
  #sec8 .after-line {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    display: inline-block;
    border-bottom: 1px solid #caa746;
    margin-top: 22px;
    vertical-align: top; }
  #sec8 .phone {
    vertical-align: top;
    position: relative;
    font-size: 43px;
    color: #333333;
    margin-top: 40px;
    letter-spacing: -0.2px; }
  #sec8 .button {
    display: inline-block;
    background-image: url(../img/ramka3.png);
    width: 250px;
    height: 60px;
    margin-top: 111px;
    font-size: 15px;
    padding: 19px;
    color: #333333;
    transition: all 0.25s;
    cursor: pointer; }
    #sec8 .button:hover {
      margin-top: 113px; }
  #sec8 .img {
    background-image: url(../img/pushkin.png);
    width: 44px;
    height: 60px;
    display: inline-block;
    position: absolute;
    vertical-align: top;
    left: 50%;
    margin-left: -22px;
    bottom: 156px; }

#sec9 {
  background-image: url(../img/sec_bg9.jpg);
  height: 460px; }
  #sec9 .wrap {
    display: inline-block;
    padding-top: 1px; }
  #sec9 .jobota {
    font-size: 36px;
    display: inline-block;
    color: #caa746;
    margin-top: 114px; }
  #sec9 .rezume {
    font-size: 17px;
    color: white;
    margin-top: 45px; }
  #sec9 span {
    color: #caa746; }
  #sec9 .button {
    display: inline-block;
    background-image: url(../img/icon-button.png);
    width: 250px;
    height: 60px;
    vertical-align: top;
    margin-top: 55px;
    font-size: 15px;
    color: #c7a554;
    padding: 20px;
    position: relative;
    transition: all 0.25s; 
  }
    #sec9 .button:hover {
      color: white;
      top: -2px; }

/*# sourceMappingURL=style.css.map */