.ymaps-map
{
	border: 0 none;
	color: #000;
	display: block;
	font-style: normal!important;
	font-weight: 400!important;
	line-height: normal;
	margin: 0!important;
	ms-touch-action: none;
	overflow: hidden;
	padding: 0!important;
	position: relative;
	text-align: left!important;
	text-decoration: none!important;
	touch-action: none;
	webkit-print-color-adjust: exact;
}
a .ymaps-map
{
	color: #000;
	font-style: normal!important;
	text-decoration: none!important;
}
.ymaps-map
{

}
.ymaps-copyrights-pane
{
	bottom: 5px;
	display: block;
	position: absolute;
	right: 3px;
	white-space: nowrap;
	width: auto;
}
.ymaps-copyright-agreement-black,.ymaps-copyright-agreement-white
{
	font-family: Verdana,serif!important;
	font-size: 10px!important;
	padding-left: 2px!important;
	white-space: nowrap!important;
}
.ymaps-copyright-agreement-black a,.ymaps-copyright-agreement-white a
{
	background-color: transparent!important;
	border-width: 0!important;
	display: inline!important;
	font-family: Verdana,serif!important;
	font-size: 10px!important;
	font-style: normal!important;
	font-variant: normal!important;
	font-weight: 400!important;
	letter-spacing: 0!important;
	line-height: normal!important;
	margin: 0!important;
	outline-width: 0!important;
	padding: 0!important;
	text-align: left!important;
	text-decoration: underline!important;
	text-indent: 0!important;
	text-shadow: none!important;
	text-transform: none!important;
	word-spacing: 0!important;
}
.ymaps-copyright-agreement-black,.ymaps-copyright-agreement-black a
{
	color: #000!important;
}
.ymaps-copyright-agreement-white,.ymaps-copyright-agreement-white a
{
	color: #FFF!important;
}
.ymaps-copyright-agreement-black a:hover,.ymaps-copyright-agreement-white a:hover
{
	color: #C00!important;
}
.ymaps-copyrights-legend
{
	bottom: 3px;
	display: inline-block;
	font-family: Arial,sans-serif;
	font-size: 10px;
	position: absolute;
	right: 5px;
}
.ymaps-copyright-legend a
{
	color: red;
	white-space: nowrap;
}
.ymaps-copyright-legend-element-black
{
	color: #000;
	display: inline;
	padding-right: 5px;
}
.ymaps-copyright-legend-element-white
{
	color: #fff;
	display: inline;
	padding-right: 5px;
}
.ymaps-copyright-legend-element-black a
{
	color: #000;
}
.ymaps-copyright-legend-element-white a
{
	color: #FFF;
}
.ymaps-copyright-legend-element-black a:hover,.ymaps-copyright-legend-element-white a:hover
{
	color: #C00!important;
}
.ymaps-copyrights-logo
{
	bottom: 16px;
	position: absolute;
	right: 5px;
}
.ymaps-logotype-div
{
	bottom: 0;
	display: block;
	height: 20px;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-decoration: none;
	width: 51px;
	z-index: 2;
}
.ymaps-logo-link-ru .ymaps-logo-link-wrap,.ymaps-logo-link-en .ymaps-logo-link-wrap
{
	background-color: transparent;
	display: none;
	float: none;
	height: 106px;
	position: relative;
	width: 56px;
}
.ymaps-logo-link-ru,.ymaps-logo-link-en
{
	cursor: pointer;
	height: 20px;
	position: absolute;
	width: 51px;
}
.ymaps-logo-link-ru
{
	background-position: 0 0;
}
.ymaps-logo-link-en
{
	background-position: 0 -80px;
}
.ymaps-logo-link-ru,.ymaps-logo-link-ru .ymaps-logo-link-wrap,.ymaps-logo-link-en,.ymaps-logo-link-en .ymaps-logo-link-wrap
{
	height: 20px;
	width: 56px;
}
.ymaps-logo-link-ru .ymaps-logo-link-wrap,.ymaps-logo-link-en .ymaps-logo-link-wrap
{
	height: 106px;
	position: absolute;
}
.ymaps-logo-link-ru:hover
{
	background-position: 0 -20px;
}
.ymaps-logo-link-en:hover
{
	background-position: 0 -100px;
}
.ymaps-logo-white-ru .ymaps-logo-link-ru
{
	background-position: 0 -40px;
}
.ymaps-logo-white-ru .ymaps-logo-link-ru:hover
{
	background-position: 0 -60px;
}
.ymaps-logo-white-en .ymaps-logo-link-en
{
	background-position: 0 -120px;
}
.ymaps-logo-white-en .ymaps-logo-link-en:hover
{
	background-position: 0 -140px;
}
.ymaps-logo-link-ru,.ymaps-logo-link-en
{
	border-width: 0!important;
	margin: 0!important;
	padding: 0!important;
}
.ymaps-logo-link-ru,.ymaps-logo-link-en
{
	background-repeat: no-repeat;
}
.ymaps-copyright-agreement-black
{
	background-color: rgba(255,255,255,.7)!important;
}
.ymaps-copyright-agreement-white
{
	background-color: rgba(0,0,0,.4)!important;
}
.ymaps-node-size-parent-style
{
	display: block;
	height: 0;
	overflow: hidden;
	position: absolute;
	visibility: hidden!important;
	width: 0;
	zoom: 1!important;
}
.ymaps-node-size-parent-pane-style
{
	display: block;
	overflow: visible;
	position: relative;
	visibility: hidden!important;
	zoom: 1!important;
}
.ymaps-node-size-node-style
{
	display: block!important;
	overflow: hidden!important;
	overflow-x: hidden!important;
	overflow-y: hidden!important;
	position: absolute!important;
	zoom: 1!important;
}
.ymaps-node-size-w3c-box-model-test
{
	border-left-width: 10px!important;
	overflow: hidden!important;
	overflow-x: hidden!important;
	overflow-y: hidden!important;
	width: 100px!important;
}
.ymaps-node-size-paddings-test
{
	border-bottom-width: 0!important;
	border-left-width: 0!important;
	border-right-width: 0!important;
	border-top-width: 0!important;
	border-width: 0!important;
	display: block!important;
	height: 0!important;
	overflow: hidden!important;
	overflow-x: hidden!important;
	overflow-y: hidden!important;
	width: 0!important;
}
.ymaps-node-size-no-scrolls-test
{
	display: block!important;
	height: 100px!important;
	left: 0!important;
	overflow: hidden!important;
	overflow-x: hidden!important;
	overflow-y: hidden!important;
	position: absolute!important;
	top: 0!important;
	visibility: visible!important;
	width: 100px!important;
}
.ymaps-node-size-scrolls-test
{
	overflow: scroll!important;
	overflow-x: scroll!important;
	overflow-y: scroll!important;
}
.ymaps-b-balloon
{
	position: absolute;
	z-index: 999;
}
.ymaps-b-balloon__sprite
{
	display: block;
	height: 33px;
	width: 800px;
}
.ymaps-b-balloon__tl
{
	display: block;
	font-size: 0;
	margin-right: 10px;
}
.ymaps-b-balloon__tl-holster
{
	display: block;
	height: 9px;
	overflow: hidden;
	width: 100%;
}
.ymaps-b-balloon__tr
{
	display: block;
	float: right;
	font-size: 0;
	height: 10px;
	margin-left: -10px;
	overflow: hidden;
	width: 10px;
}
.ymaps-b-balloon__sprite_position_tr
{
	margin-left: -790px;
}
.ymaps-b-balloon__content
{
	background: #fff;
	border: solid #ccc;
	border-width: 0 1px;
	display: block;
}
.ymaps-b-balloon__content-holster
{
	display: block;
	padding: 4px 12px 0 10px;
}
.ymaps-b-balloon__content-head
{
	display: inline;
	font-size: 130%;
}
.ymaps-b-balloon__content-body
{
	display: block;
}
.ymaps-b-balloon_footer_yes .ymaps-b-balloon__content-holster
{
	padding-bottom: 6px;
}
.ymaps-b-balloon__content-foot
{
	background: #e7e7e7;
	display: none;
	padding: 5px 9px 0;
}
.ymaps-b-balloon_footer_yes .ymaps-b-balloon__content-foot
{
	display: block;
}
.ymaps-b-balloon__bl
{
	float: left;
	width: 50%;
}
.ymaps-b-balloon__bl-holster
{
	display: block;
	overflow: hidden;
}
.ymaps-b-balloon__bl-inner,.ymaps-b-balloon__br-inner
{
	display: block;
	height: 8px;
	overflow: hidden;
	width: 100%;
}
.ymaps-b-balloon__sprite_position_bl
{
	margin-top: -25px;
}
.ymaps-b-balloon__tail
{
	background-position: -40px 100%;
	background-repeat: no-repeat;
	float: right;
	height: 8px;
	margin: -8px 0 0;
	position: relative;
	right: -28px;
	width: 34px;
}
.ymaps-b-balloon__sprite_type_tail
{
	height: 21px;
	left: 5px;
	margin-top: -1px;
	position: absolute;
	top: 100%;
	width: 20px;
}
.ymaps-b-balloon_footer_yes .ymaps-b-balloon__sprite_type_tail
{
	background-position: center -21px;
}
.ymaps-b-balloon__br
{
	display: block;
	overflow: hidden;
}
.ymaps-b-balloon__br-holster
{
	display: block;
	margin-left: 28px;
}
.ymaps-b-balloon__sprite_position_br
{
	float: right;
	margin-left: -800px;
	margin-top: -25px;
}
.ymaps-b-balloon__close
{
	background-position: 4px 14px;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 30px;
	position: absolute;
	right: -10px;
	top: -10px;
	width: 30px;
}
.ymaps-b-balloon-shadow
{
	margin-top: 12px;
	position: absolute;
	text-align: start;
}
.ymaps-b-balloon-shadow__b
{
	height: 12px;
	margin-top: -12px;
	position: absolute;
	top: 100%;
	width: 100%;
}
.ymaps-b-balloon-shadow__r
{
	display: block;
	height: 131px;
	left: -3px;
	margin-left: 100%;
	margin-top: -131px;
	position: absolute;
	top: 100%;
	width: 85px;
}
.ymaps-b-balloon-shadow__r_size_small
{
	height: 56px;
	margin-top: -60px;
	width: 33px;
}
.ymaps-b-balloon-shadow__bl
{
	float: left;
	position: relative;
	width: 50%;
}
.ymaps-b-balloon-shadow__bl-holster
{
	display: block;
	height: 12px;
	margin-right: 28px;
}
.ymaps-b-balloon-shadow__bl-inner
{
	display: block;
	height: 12px;
	overflow: hidden;
	width: 100%;
}
.ymaps-b-balloon-shadow__br
{
	display: block;
	overflow: hidden;
}
.ymaps-b-balloon-shadow__br-holster
{
	display: block;
	margin-left: 28px;
	margin-right: 3px;
	overflow: hidden;
}
.ymaps-b-balloon-shadow__br-inner
{
	display: block;
	height: 12px;
	overflow: hidden;
	width: 100%;
}
.ymaps-b-balloon-shadow__tail
{
	display: block;
	height: 25px;
	left: 100%;
	margin-left: -28px;
	margin-top: -12px;
	overflow: hidden;
	position: absolute;
	width: 56px;
}
.ymaps-b-balloon-shadow__tail .ymaps-b-balloon-shadow__sprite
{
	margin-left: -257px;
}
.ymaps-b-balloon-shadow__sprite
{
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	height: 25px;
	width: 601px;
}
.ymaps-b-balloon-shadow__br-holster .ymaps-b-balloon-shadow__sprite
{
	float: right;
	margin-left: -601px;
}
.ymaps-b-balloon-sh_size_small .ymaps-b-balloon-sh__left-inner-inner,.ymaps-b-balloon-sh_size_small .ymaps-b-balloon-sh__right-inner-inner
{
	height: 6px;
}
.ymaps-b-balloon__sprite
{
	
}
.ymaps-b-balloon__bl
{
	user-select: none;
	webkit-user-select: none;
}
.ymaps-b-balloon__tail
{
	
}
.ymaps-b-balloon_footer_yes .ymaps-b-balloon__tail
{
	
}
.ymaps-b-balloon__sprite_type_tail
{

}
.ymaps-b-balloon_footer_yes .ymaps-b-balloon__sprite_type_tail
{
	
}
.ymaps-b-balloon_footer_yes .ymaps-b-balloon__sprite_position_bl,.ymaps-b-balloon_footer_yes .ymaps-b-balloon__sprite_position_br
{
	
}
.ymaps-b-balloon-shadow__r
{
	
}
.ymaps-b-balloon-shadow__r_size_small
{
	
}
.ymaps-b-balloon-shadow__sprite
{
	
}
.ymaps-b-balloon-shadow__sprite_size_small
{
	
}
.ymaps-b-balloon__close
{
	
}
.ymaps-b-balloon__content-layout
{
	moz-transition-duration: 150ms;
	moz-transition-property: height;
	ms-transition-duration: 150ms;
	ms-transition-property: height;
	o-transition-duration: 150ms;
	o-transition-property: height;
	transition-duration: 150ms;
	transition-property: height;
	webkit-transition-duration: 150ms;
	webkit-transition-property: height;
}
.ymaps-i-custom-scroll ::-webkit-scrollbar
{
	height: 13px;
	width: 13px;
}
.ymaps-i-custom-scroll ::-webkit-scrollbar-track
{
	background: 0 0;
}
.ymaps-i-custom-scroll ::-webkit-scrollbar-thumb
{
	border: 3px solid transparent;
	box-shadow: inset 0 0 0 4px rgba(0,0,0,.2);
	min-height: 30px;
	webkit-box-shadow: inset 0 0 0 4px rgba(0,0,0,.2);
}
.ymaps-i-custom-scroll ::-webkit-scrollbar-thumb:hover
{
	box-shadow: inset 0 0 0 4px rgba(0,0,0,.3);
	webkit-box-shadow: inset 0 0 0 4px rgba(0,0,0,.3);
}
.ymaps-balloon
{
	position: absolute;
	z-index: 999;
}
.ymaps-balloon__sprite
{
	display: block;
	height: 33px;
	width: 800px;
}
.ymaps-balloon__tl
{
	display: block;
	font-size: 0;
	margin-right: 10px;
}
.ymaps-balloon__tl-holster
{
	display: block;
	height: 9px;
	overflow: hidden;
	width: 100%;
}
.ymaps-balloon__tr
{
	display: block;
	float: right;
	font-size: 0;
	height: 10px;
	margin-left: -10px;
	overflow: hidden;
	width: 10px;
}
.ymaps-balloon__sprite_position_tr
{
	margin-left: -790px;
}
.ymaps-balloon__content
{
	background: #fff;
	border: solid #ccc;
	border-width: 0 1px;
	display: block;
	font: 13px Arial,sans-serif;
}
.ymaps-balloon__content-holster
{
	display: block;
	padding: 3px 12px 0 10px;
}
.ymaps-balloon__content-head
{
	display: inline;
	font-size: 16px;
}
.ymaps-balloon__content-body
{
	display: block;
}
.ymaps-balloon_footer_on .ymaps-balloon__content-holster
{
	padding-bottom: 6px;
}
.ymaps-balloon__content-foot
{
	background: #e7e7e7;
	display: none;
	padding: 5px 9px 0;
}
.ymaps-balloon_footer_on .ymaps-balloon__content-foot
{
	display: block;
}
.ymaps-balloon__bl
{
	float: left;
	width: 50%;
}
.ymaps-balloon__bl-holster
{
	display: block;
	overflow: hidden;
}
.ymaps-balloon__bl-inner,.ymaps-balloon__br-inner
{
	display: block;
	height: 8px;
	overflow: hidden;
	width: 100%;
}
.ymaps-balloon__sprite_position_bl
{
	margin-top: -25px;
}
.ymaps-balloon__tail
{
	background-position: -40px 100%;
	background-repeat: no-repeat;
	float: right;
	height: 8px;
	margin: -8px 0 0;
	position: relative;
	right: -28px;
	width: 34px;
}
.ymaps-balloon__sprite_type_tail
{
	height: 21px;
	left: 5px;
	margin-top: -1px;
	position: absolute;
	top: 100%;
	width: 20px;
}
.ymaps-balloon_footer_on .ymaps-balloon__sprite_type_tail
{
	background-position: center -21px;
}
.ymaps-balloon__br
{
	display: block;
	overflow: hidden;
}
.ymaps-balloon__br-holster
{
	display: block;
	margin-left: 28px;
}
.ymaps-balloon__sprite_position_br
{
	float: right;
	margin-left: -800px;
	margin-top: -25px;
}
.ymaps-balloon__close
{
	cursor: pointer;
	display: block;
	height: 12px;
	position: absolute;
	right: 4px;
	top: 4px;
	width: 12px;
}
.ymaps-balloon-shadow
{
	margin-top: 12px;
	position: absolute;
}
.ymaps-balloon-shadow__b
{
	height: 12px;
	margin-top: -12px;
	position: absolute;
	top: 100%;
	width: 100%;
}
.ymaps-balloon-shadow__r
{
	display: block;
	height: 131px;
	left: -3px;
	margin-left: 100%;
	margin-top: -131px;
	position: absolute;
	top: 100%;
	width: 85px;
}
.ymaps-balloon-shadow__r_size_small
{
	height: 56px;
	margin-top: -60px;
	width: 33px;
}
.ymaps-balloon-shadow__bl
{
	float: left;
	position: relative;
	width: 50%;
}
.ymaps-balloon-shadow__bl-holster
{
	display: block;
	height: 12px;
	margin-right: 28px;
}
.ymaps-balloon-shadow__bl-inner
{
	display: block;
	height: 12px;
	overflow: hidden;
	width: 100%;
}
.ymaps-balloon-shadow__br
{
	display: block;
	overflow: hidden;
}
.ymaps-balloon-shadow__br-holster
{
	display: block;
	margin-left: 28px;
	margin-right: 3px;
	overflow: hidden;
}
.ymaps-balloon-shadow__br-inner
{
	display: block;
	height: 12px;
	overflow: hidden;
	width: 100%;
}
.ymaps-balloon-shadow__br-holster .ymaps-balloon-shadow__sprite
{
	float: right;
	margin-left: -100%;
}
.ymaps-balloon-shadow__tail
{
	display: block;
	height: 25px;
	left: 100%;
	margin-left: -28px;
	margin-top: -12px;
	overflow: hidden;
	position: absolute;
	width: 56px;
}
.ymaps-balloon-shadow__tail .ymaps-balloon-shadow__sprite
{
	margin-left: -257px;
}
.ymaps-balloon-shadow__sprite
{
	background-position: 0 0;
	background-repeat: no-repeat;
	display: block;
	height: 25px;
	width: 601px;
}
.ymaps-balloon-sh_size_small .ymaps-balloon-sh__left-inner-inner,.ymaps-balloon-sh_size_small .ymaps-balloon-sh__right-inner-inner
{
	height: 6px;
}
.ymaps-balloon__sprite
{

}
.ymaps-balloon__tail
{

}

.ymaps-label-container
{
	position: absolute;
}
.ymaps-label
{
	background: #fff;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-shadow: 0 2px 2px #7f7f7f;
	moz-border-radius: 4px;
	moz-box-shadow: 0 2px 2px #7f7f7f;
	padding: 4px 5px 3px;
	position: absolute;
	webkit-border-radius: 4px;
	webkit-box-shadow: 0 2px 2px #7f7f7f;
}
.ymaps-label__content
{
	background: #fff;
	display: block;
	font-family: Verdana;
	font-size: 11px;
}
.ymaps-b-poi-balloon-content
{
	font: 13px Arial,sans-serif;
}
.ymaps-b-poi-balloon-content__title,.ymaps-b-poi-balloon-content__description,.ymaps-b-poi-balloon-content__hours,.ymaps-b-poi-balloon-content__rubrics,.ymaps-b-poi-balloon-content__footer
{
	display: block;
}
.ymaps-b-poi-balloon-content__title
{
	font-size: 17px;
	margin-bottom: .2em;
	padding-right: 10px;
}
.ymaps-b-poi-balloon-content__description
{
	margin: .5em 0;
}
.ymaps-b-poi-balloon-content__phone,.ymaps-b-poi-balloon-content__url,.ymaps-b-poi-balloon-content__rubric-item
{
	display: inline-block;
}
.ymaps-b-poi-balloon-content__phone,.ymaps-b-poi-balloon-content__url,.ymaps-b-poi-balloon-content__hours
{
	font-size: 12px;
}
.ymaps-b-poi-balloon-content__phone,.ymaps-b-poi-balloon-content__url,.ymaps-b-poi-balloon-content__hours,.ymaps-b-poi-balloon-content__rubrics,.ymaps-b-poi-balloon-content__footer
{
	margin-top: .5em;
}
.ymaps-b-poi-balloon-content__phone,.ymaps-b-poi-balloon-content__hours
{
	padding-left: 20px;
}
.ymaps-b-poi-balloon-content__phone
{
	margin-right: 15px;
}
.ymaps-b-poi-balloon-content__url .ymaps-b-api-link
{
	color: #060;
	text-decoration: none;
}
.ymaps-b-poi-balloon-content__rubric-item
{
	color: #737373;
	font-size: 11px;
	margin-right: .5em;
}
.ymaps-b-poi-balloon-content__footer
{
	font: 11px Veradana,sans-serif;
}

.ymaps-b-api-link
{
	color: #1a3dc1;
	cursor: pointer;
	text-decoration: none;
}
.ymaps-b-api-link:hover
{
	color: red;
}