@font-face {
  font-family: 'Gilroy-Light';
  src: url('../fonts/Gilroy-Lightd41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gilroy-Light.otf')  format('opentype'),
	     url('../fonts/Gilroy-Light.woff') format('woff'), url('../fonts/Gilroy-Light.ttf')  format('truetype'), url('../fonts/Gilroy-Light.svg#Gilroy-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif-Bold';
  src: url('../fonts/PTSerif-Boldd41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/PTSerif-Bold.woff') format('woff'), url('../fonts/PTSerif-Bold.ttf')  format('truetype'), url('../fonts/PTSerif-Bold.svg#PTSerif-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif-Regular';
  src: url('../fonts/PTSerif-Regulard41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/PTSerif-Regular.woff') format('woff'), url('../fonts/PTSerif-Regular.ttf')  format('truetype'), url('../fonts/PTSerif-Regular.svg#PTSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif-Italic';
  src: url('../fonts/PTSerif-Italicd41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/PTSerif-Italic.woff') format('woff'), url('../fonts/PTSerif-Italic.ttf')  format('truetype'), url('../fonts/PTSerif-Italic.svg#PTSerif-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('../fonts/Gilroy-ExtraBoldd41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gilroy-ExtraBold.otf')  format('opentype'),
	     url('../fonts/Gilroy-ExtraBold.woff') format('woff'), url('../fonts/Gilroy-ExtraBold.ttf')  format('truetype'), url('../fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSerif-BoldItalic';
  src: url('../fonts/PTSerif-BoldItalicd41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/PTSerif-BoldItalic.woff') format('woff'), url('../fonts/PTSerif-BoldItalic.ttf')  format('truetype'), url('../fonts/PTSerif-BoldItalic.svg#PTSerif-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {margin: 0;font-family: 'Gilroy-Light';font-size: 16px;font-weight: normal;line-height: 1.2;color: #282c37;}
*, :before, :after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6, p {
	margin: 0;
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #000;
}

#map {
	height: 500px;
	width: 100%;
}

section {
	overflow: hidden;
	
}

.gallery-wrap {}
.gallery-wrap .row:last-of-type {
	margin-bottom: 0;
}
.gallery-wrap .row {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin: 0 -25px 15px;
}
.gallery-wrap .row img:last-of-type {
	margin-right: 0;
	float: right;
}
.gallery-wrap .row div {
	padding: 5px;
}
.gallery-wrap img {
     /* Safari 6.1+ */
     /* float: left; */
     /* margin-right: 27px; */
     /* display: block; */
}

.container {width: 1120px;margin: 0 auto;position: relative;}
.main {
    height: 840px;
    background: url(../images/main.jpg) no-repeat top;
    padding-top: 22px;
    color: #fff;
}

.right-info {
    float: right;
}
.phone-wrap {
    float: left;
}
.phone-wrap p {margin-left: 5px;}
.right-info .phone {
    color: #fff;
    font-size: 20px;
    margin-top: 16px;
}
.right-info .call:hover {
	background: #F41E29;
}
.right-info .call {
    float: right;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    width: 190px;
    height: 44px;
    display: block;
    line-height: 41px;
    text-align: center;
    margin-left: 9px;
    border: 2px solid #F8313E;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.when-item {
    float: left;
    font-size: 18px;
    position: relative;
    padding-left: 33px;
}
.when-item p {font-size: 20px;}
.when-item span {font-size: 16px;}
.when-item.i1 {}
.when-item.i2 {
    margin-left: 72px;
    padding-left: 39px;
}
.when-item.i1:before {
	content: '';
	width: 21px;
	height: 23px;
	background: url(../images/when-1.png);
	display: block;
	position: absolute;
	left: -2px;
	top: 0px;
}

.when-item.i2:before {
	content: '';
	width: 23px;
	height: 23px;
	background: url(../images/when-2.png);
	display: block;
	position: absolute;
	left: 2px;
	top: 2px;
}
.when {
    float: left;
}
.main-top{margin-bottom: 80px;}

.main-wrap {
    clear: both;
}
.main-wrap h1 {
    font-family: 'Gilroy-ExtraBold';
    font-size: 52px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.main-wrap h2 {
    font-family: 'PTSerif-Regular';
    font-size: 50px;
    margin-bottom: 48px;
    line-height: 1.1;
}
.main-wrap .first {
    font-family: 'PTSerif-Bold';
    background: #F8313E;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 17px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.main-wrap .main-border {
    width: 220px;
    height: 220px;
    background: url(../images/main-border.png) no-repeat;
    padding-top: 4px;
    padding-left: 35px;
}
.main-wrap .main-border .number:before {
	content: 'x';
	position: absolute;
	left: -15px;
	top: 5px;
	font-size: 26px;
	font-family: 'PTSerif-BoldItalic';
}
.main-wrap .main-border .number {
    font-family: 'PTSerif-Italic';
    font-size: 100px;
    position: relative;
    line-height: 1;
}
.main-border ul {
    padding-top: 7px;
    padding-left: 14px;
}
.main-border ul li:before {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	background: url(../images/li.png);
	position: absolute;
	left: 0;
	top: 5px;
}
.main-border ul li {
    font-size: 20px;
    position: relative;
    white-space: nowrap;
    padding-left: 20px;
    margin-bottom: 5px;
}

.main-wrap .left {
    float: left;
    width: 544px;
}
.main-wrap .right {
    float: left;
    width: calc(100% - 544px);
    padding-top: 404px;
}
.main-wrap .name-1 {
    margin-left: 15px;
}
.main-wrap .name-2 {
    margin-left: 100px;
    margin-top: 128px;
}
.main-wrap .name-3 {
    margin-top: 60px;
    float: right !important;
    position: relative;
    right: -95px;
}
.main-wrap .right div {
    float: left;
}
.main-wrap .right div span {
    font-family: 'PTSerif-Regular';
    font-size: 22px;
    background: #F8313E;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
}

.main-wrap .name-1 .i1 {}
.main-wrap .name-1 .i2 {
    margin-left: 25px;
}

.main-wrap .name-2 .i1 {}
.main-wrap .name-2 .i2 {
    margin-left: 25px;
}

.main-wrap .name-3 .i1 {}
.main-wrap .name-3 .i2 {
    margin-left: 25px;
}

.action {
    height: 566px;
    background: url(../images/timer.jpg) no-repeat top;
    padding: 92px 0;
}
.action-wrap {
    height: 386px;
    background: url(../images/timer-inner.jpg) no-repeat top;
    max-width: 1020px;
    padding: 31px 10px 15px 39px;
}
.action h2 {
    font-family: 'Gilroy-ExtraBold';
    font-size: 40px;
}
.action h3 {
    font-size: 40px;
    margin-bottom: 13px;
}


.action .timer {
    margin-bottom: 39px;
}
.action .timer-item:last-child {
	margin-right: 0;
}
.action .timer-item:last-of-type:after {
	display: none;
}
.action .timer-item:after {
	content: ':';
	position: absolute;
	right: -10px;
	top: 2px;
	font-size: 58px;
	font-family: 'Gilroy-Light';
}
.action .timer-item {
    text-align: center;
    width: 100px;
    height: 95px;
    background: transparent;
    float: left;
    padding-top: 12px;
    margin-right: 10px;
    position: relative;
}
.action .number {
    font-size: 58px;
    font-weight: 300;
    line-height: 1;
    font-family: 'PTSerif-Regular';
    margin-bottom: 2px;
}
.action .timer span {
    font-size: 16px;
    line-height: 1;
    display: block;
    font-family: 'PTSerif-Regular';
}
.btn:hover {
	background: transparent;
	color: #000;
}
.btn {
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    font-family: 'Gilroy-Light';
    background: #F8313E;
    text-align: center;
    width: 290px;
    height: 70px;
    line-height: 70px;
    border: 0;
    outline: none;
    border: 2px solid #F8313E;
}
.action  .btn {}
.end {
	display: none;
}
h2.title:after {
	content: '';
	display: block;
	width: 105px;
	height: 10px;
	background: #F8313E;
	position: absolute;
	left: 0;
	bottom: 0;
}
h2.title {
    font-family: 'Gilroy-ExtraBold';
    font-size: 52px;
    position: relative;
    padding-bottom: 24px;
}
.for {
    padding-top: 68px;
    padding-bottom: 57px;
}
.for .title {
    margin-bottom: 52px;
}
.for-wrap {}
.for-item {
    width: 352px;
    height: 352px;
    border: 1px solid #F5F6FA;
    float: left;
    text-align: center;
    margin-right: 32px;
    margin-bottom: 32px;
    padding-top: 73px;
}
.for-item .img:after {
	content: '';
	display: block;
	width: 30px;
	height: 3px;
	background: #F8313E;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}
.for-item .img {
    min-height: 116px;
    position: relative;
    margin-bottom: 34px;
}
.for-item p {
    font-size: 17px;
}
.for-item:nth-of-type(3n + 3){
	margin-right: 0;
}

.conferenz{
    background: url(../images/conferenz.jpg) no-repeat top;
    padding-top: 67px;
}
.conferenz .title {
    color: #fff;
    margin-bottom: 50px;
}
.conferenz-item:after {
	content: '';
	display: block;
	width: 25px;
	height: 3px;
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;
}
.conferenz-wrap {}
.conferenz-item {
    width: 352px;
    float: left;
    text-align: center;
    background: #F8313E;
    color: #fff;
    height: 305px;
    padding-top: 68px;
    position: relative;
    margin-right: 32px;
}
.conferenz-item:last-of-type {
	margin-right: 0;
}
.conferenz-item .img {
    min-height: 96px;
    margin-bottom: 31px;
}
.conferenz-item p {
    font-size: 18px;
}

.cinergy{
    padding-top: 66px;
    padding-bottom: 28px;
}
.cinergy .title {
    margin-bottom: 52px;
}
.cinergy img {}

.x3{
    height: 320px;
    background: url(../images/x3.jpg) no-repeat top;
    padding: 80px 0;
    color: #fff;
}
.x3-wrap {}
.x3-item {
    width: 33.333%;
    float: left;
    text-align: center;
}
.x3-item h3:after {
	content: '';
	display: block;
	width: 20px;
	height: 1px;
	background: #F8313E;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
}
.x3-item h3 {
    font-family: 'PTSerif-Regular';
    font-size: 32px;
    position: relative;
    padding-bottom: 27px;
    margin-bottom: 24px;
}
.x3-item p {
    font-size: 18px;
}

.motivation{
    height: 886px;
    background: url(../images/x3-bg.jpg) no-repeat top;
}
.motivation-wrap {
    margin-bottom: 34px;
}
.motivation-wrap .number {
    font-size: 180px;
    color: #f8313e;
    font-family: 'Gilroy-ExtraBold';
    position: relative;
    line-height: .9;
    display: inline-block;
    z-index: 0;
}
.motivation-wrap .left .number {}
.motivation-wrap .left .number:after {
	content: '';
	display: block;
	width: 91px;
	height: 130px;
	background: url(../images/3.png);
	position: absolute;
	right: 6px;
	top: 36px;
	z-index: -1;
}
.motivation-wrap .right .number:after {
	content: '';
	display: block;
	width: 88px;
	height: 130px;
	background: url(../images/2.png);
	position: absolute;
	right: 6px;
	top: 36px;
	z-index: -1;
}
.motivation-wrap .left p {
    font-size: 18px;
    position: relative;
    padding-right: 10px;
    margin-right: 5px;
}
.motivation-wrap .left p:after {
	content: '';
	width: 3px;
	height: 100%;
	background: #F8313E;
	position: absolute;
	right: 0;
	top: 0;
}
.motivation-wrap .right p:after {
	content: '';
	width: 3px;
	height: 100%;
	background: #F8313E;
	position: absolute;
	left: 0;
	top: 0;
}
.motivation-wrap .center {
    width: 426px;
    background: url(../images/polygon.png) no-repeat top;
    height: 491px;
    text-align: center;
    padding-top: 119px;
    float: left;
    margin-top: -30px;
}
.motivation-wrap .center p {
    font-size: 42px;
    color: #f8313e;
    margin-bottom: 10px;
    font-family: 'PTSerif-Regular';
}
.motivation-wrap .center h4 {
    font-size: 34px;
    font-family: 'PTSerif-Bold';
    line-height: 1.4;
}
.motivation-wrap .left {
    float: left;
    width: 347px;
    text-align: right;
    padding-right: 26px;
    padding-top: 108px;
}
.motivation-wrap .right {
    float: left;
    width: 347px;
    padding-left: 28px;
    padding-top: 109px;
}
.motivation-wrap .right .number {
    margin-bottom: 0px;
}
.motivation-wrap .right p {
    font-size: 18px;
    position: relative;
    padding-left: 19px;
}

.motivation h2 {
    font-family: 'Gilroy-ExtraBold';
    text-align: center;
    font-size: 36px;
    margin-bottom: 41px;
}
.motivation ul {
    padding: 0 134px;
    margin-bottom: 27px;
}
.motivation ul li {
    font-size: 17px;
    position: relative;
    padding-left: 22px;
    float: left;
    margin-top: 28px;
    line-height: 1.4;
}
.motivation ul li:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: url(../images/li.png);
    position: absolute;
    left: 0;
    top: 5px;
}
.motivation li.i1 {}
.motivation li.i2 {
    margin-top: 0;
    margin-left: 35px;
    margin-right: 35px;
}
.motivation li.i3 {
    margin-left: 28px;
}
.motivation .btn {
    margin: 0 auto;
    width: 285px;
}

.stars {
    height: 961px;
    background: url(../images/stars.jpg) no-repeat top;
    padding-top: 70px;
}
.stars .title {
    color: #fff;
    margin-bottom: 73px;
}
.stars-wrap {}
.stars-item.i1 {
	margin-right: 34px;
}
.stars-item.i2 {}
.stars-item.i3 {
	float: right;
}
.stars-item {
    width: 352px;
    background: #272D3A;
    float: left;
    height: 580px;
}
.stars-item .img {
    height: 356px;
}
.stars-item .img img {
    display: block;
    margin: 0 auto;
    margin-top: -41px;
    position: relative;
}
.stars-item .inner {
    padding: 0 10px 10px 30px;
}
.stars-item h3:before {
	content: '';
	display: block;
	width: 20px;
	height: 2px;
	background: #F8313E;
	position: absolute;
	left: 0;
	top: 0;
}
.stars-item h3 {
    font-family: 'PTSerif-Regular';
    font-size: 24px;
    color: #fff;
    margin-bottom: 10px;
    position: relative;
    padding-top: 15px;
}
.stars-item p {
    color: #667187;
    margin-bottom: 15px;
    min-height: 98px;
}
.stars-item .btn:hover {
	color: #fff;
}
.stars-item .btn {
    width: 210px;
}
.stars-item:last-of-type {
	margin-right: 0;
}

.stars-item.i1 img {
    right: -6px;
}
.stars-item.i2 img {
    right: -10px;
    top: -5px;
}
.stars-item.i3 img {
    right: 6px;
}

.programm {
    padding-top: 70px;
    padding-bottom: 39px;
}
.programm .title {
    margin-bottom: 71px;
}
.programm-wrap {}
.programm-item:last-of-type {
	margin-bottom: 0;
}
.programm-item {
    background: #F3F5F9;
    margin-bottom: 58px;
}
.programm-item .left {
    width: 448px;
    float: left;
    position: relative;
}
.programm-item .img {
}
.programm-item img {
    display: block;
}
.programm-item .time {
    position: absolute;
    left: 0;
    top: -19px;
    width: 110px;
    height: 75px;
    background: #F8313E;
    padding-top: 11px;
    padding-left: 21px;
}
.programm-item .time p span {
    font-family: 'PTSerif-BoldItalic';
}
.programm-item .time p {
    font-family: 'PTSerif-Italic';
    color: #fff;
    font-size: 18px;
    line-height: 1.4;
}
.programm-item .right {
    float: left;
    width: calc(100% - 448px);
    padding: 35px 15px 15px 39px;
}
.programm-item h3 {
    font-family: 'PTSerif-Bold';
    font-size: 22px;
    margin-bottom: 5px;
}
.programm-item .subject {
    font-size: 20px;
    margin-bottom: 24px;
}
.programm-item ul {}
.programm-item ul li {
    font-size: 17px;
    margin-bottom: 18px;
    position: relative;
    padding-left: 19px;
}

.programm-item ul li:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: url(../images/li-s.png);
    position: absolute;
    left: 0;
    top: 5px;
}

.but {
    padding-top: 30px;
    padding-bottom: 91px;
}
.but .title {
    margin-bottom: 59px;
}
.but .title span {
    font-family: 'Gilroy-Light';
    font-size: 24px;
    display: block;
    line-height: 1;
    margin-top: 14px;
}
.but-wrap {}
.but-item {
    width: 352px;
    float: left;
    margin-right: 32px;
}
.but-item:last-of-type {
	margin-right: 0;
}

.but-item .img img {
	display: block;
}
.but-item .img {
    position: relative;
    margin-bottom: 25px;
}
.but-item  .info:after {
	content: '';
	display: block;
	width: 30px;
	height: 3px;
	background: #F8313E;
	position: absolute;
	left: 0;
	bottom: 0;
}
.but-item  .info {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    width: 260px;
    padding-top: 12px;
    padding-bottom: 15px;
}
.but-item  .info h3 {
    font-family: 'PTSerif-Bold';
    font-size: 22px;
}
.but-item  .info h4 {
    font-size: 18px;
}
.but-item .inner {}
.but-item  p {
    min-height: 189px;
    line-height: 1.5;
}
.but-item  .btn {
    width: 210px;
}

.author{
    padding-top: 60px;
    padding-bottom: 30px;
}
.author .title {
    margin-bottom: 61px;
}
.author-wrap {}
.author .left:after {
	content: '';
	width: 448px;
	height: 444px;
	background: url(../images/author-bg.jpg);
	position: absolute;
	left: -39px;
	bottom: -39px;
	z-index: -1;
}
.author .left {
    position: relative;
    float: left;
    width: 448px;

}
.author .left img {
    display: block;
}
.author .right {
    float: left;
    width: calc(100% - 448px);
    padding-left: 30px;
}
.author ul {
}
.author ul li:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: url(../images/li-s.png);
    position: absolute;
    left: 0;
    top: 5px;
}
.author ul li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 26px;
    font-size: 17px;
    line-height: 1.4;
}

.gives {
    padding-top: 35px;
    padding-bottom: 67px;
}
.gives .title {
    margin-bottom: 53px;
}
.gives-wrap {}
.gives ul {}
.gives .left ul li:last-of-type {
	border: 0;
}
.gives .right ul li:last-of-type {
	border: 0;
}
.gives ul li {
    font-size: 18px;
    padding-left: 35px;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px dotted #E5E6E6;
}
.gives ul li:before {
	content: '';
	display: block;
	width: 19px;
	height: 19px;
	background: url(../images/check.png);
	position: absolute;
	left: 0;
	top: 0;
}
.gives .left {
    float: left;
    max-width: 480px;
    width: 100%;
}
.gives .right {
    float: right;
    max-width: 510px;
    width: 100%;
    margin-right: 38px;
}

.invite {
    height: 897px;
    background: url(../images/invite.jpg) no-repeat top;
    padding: 68px 0;
}
.invite .title {
    color: #fff;
    margin-bottom: 75px;
}
.invite-item.i1 {
    margin-right: 30px;
}
.invite-item.i2 {}
.invite-item.i3 {}
.invite-item {
    width: 352px;
    background: #272D3A;
    float: left;
    height: 515px;
}
.invite-item .img {
    height: 383px;
}
.invite-item .img img {
    display: block;
    margin: 0 auto;
    margin-top: -42px;
    position: relative;
}
.invite-item .inner {
    padding: 0 10px 10px 30px;
}
.invite-item h3:before {
	content: '';
	display: block;
	width: 20px;
	height: 2px;
	background: #F8313E;
	position: absolute;
	left: 0;
	top: 0;
}
.invite-item h3 {
    font-family: 'PTSerif-Regular';
    font-size: 24px;
    color: #fff;
    margin-bottom: 26px;
    position: relative;
    padding-top: 15px;
}
.invite-item .btn:before {
	content: '';
	display: block;
	width: 14px;
	height: 15px;
	background: url(../images/play.png);
	position: absolute;
	left: 49px;
	top: 28px;
}
.invite-item .btn:hover {
	color: #fff;
}
.invite-item .btn {
    width: 210px;
    position: relative;
    padding-left: 31px;
}
.invite-item:last-of-type {
	margin-right: 0;
	float: right;
}

.invite-item.i1 img {
    right: -5px;
}
.invite-item.i2 img {
    right: -16px;
}
.invite-item.i3 img {}


.price {
    padding-top: 73px;
    padding-bottom: 58px;
}
.price .title {
    margin-bottom: 51px;
}


.table table thead th {
    padding: 14px;
    text-align: center;
    font-size: 20px;
    background: transparent;
    font-weight: normal;
    border-top: 8px solid #F22327;
    border-bottom: 1px solid #F0F2F5;
    border-right: 1px solid #F0F2F5;
    border-left: 1px solid #F0F2F5;
    position: relative;
    font-family: 'PTSerif-Bold';
    background: #F3F5F9;
}
.table table thead th:first-child {
	text-align: left;
	min-width: 433px;
	border-top: 0;
	border-left: 0;
	padding-left: 0;
	background: none;
}
.table table thead th:first-child:after {
	content: '';
	display: block;
	width: 39px;
	height: 100%;
	background: #ffffff;
	position: absolute;
	right: -33px;
	top: 1px;
	border-bottom: 1px solid #f0f2f5;
}
.table table thead tr td {
    padding: 20px 28px;
    background: #fff;
    border-bottom: 1px solid #E6E8EB;
    border-right: 1px solid #E6E8EB;
    border-left: 1px solid #E6E8EB;
}

.table table thead tr td:first-child {
    font-size: 16px;
    border-left: 0;
    position: relative;
    padding-left: 0;
    border-top: 0;
	border-right: 0;
}
.table table thead tr td:first-child:after {
	content: '';
	display: block;
	width: 39px;
	height: 100%;
	background: #ffffff;
	position: absolute;
	right: -30px;
	top: 1px;
	border-bottom: 1px solid #E6E8EB;
}
.table table tbody tr td:first-child {
	border-left: 0;
	position: relative;
	padding-left: 0;
}
.table table tbody tr td.no-border {
	border: 0;
}
.table table tbody tr td.no-border:after {
	display: none !important;
}
.table table tbody tr td:first-child:after {
	content: '';
	display: block;
	width: 39px;
	height: 100%;
	background: #ffffff;
	position: absolute;
	right: -30px;
	top: 1px;
	border-bottom: 1px solid #f0f2f5;
}
.table table thead tr:nth-child(2) td+td {
    text-align: center;
    font-size: 24px;
    font-family: 'Gilroy-ExtraBold';
    background: #F3F5F9;
    border-right: 0;
}

.table table thead tr:nth-child(3) td+td {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    background: #F3F5F9;
    border-right: 0;
}

.table table thead tr:nth-child(4) td+td {
    color: #000000;
    text-align: center;
    font-size: 18px;
    background: #F3F5F9;
    border-right: 0;
}

.table table tbody tr td {
    padding: 12px 28px;
    color: #000;
    font-size: 16px;
    background: #fff;
    border-bottom: 1px solid #F0F2F5;
    border-right: 1px solid #F0F2F5;
    border-left: 1px solid #F0F2F5;
}
.table table tbody tr td.wave {
	position: relative;
	width: 200px;
	min-width: 200px;
}
.table table tbody tr td.wave:after {
	content: '';
	display: block;
	width: 200px;
	height: 9px;
	background: url(../images/wave.html);
	position: absolute;
	left: -1px;
	bottom: -9px;
}
.table table tbody tr.last td {
	border: 0;
	background: transparent;
	padding: 0;
}
.table table tbody tr.last td:after {
	display: none;
}
.table table tbody tr td+td {
    padding: 12px;
    text-align: center;
    background: #F3F5F9;
}

.table table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 30px 0px;
    margin-left: -30px;
    margin-right: -30px;
}

.table table .button {
    background: #F8313E;
    color: #fff;
    font-size: 16px;
    display: block;
    height: 63px;
    line-height: 61px;
    margin: 0 auto;
    font-weight: 300;
    border: 2px solid #F8313E;
}

.table table .button:hover {
	background: transparent;
	color: #000;
}

.button-mobile {
	display: none;
}

.anshlag {
    padding-top: 20px;
    padding-bottom: 31px;
}
.anshlag h2 {
    margin-bottom: 48px;
}
.anshlag img {}
.testimonials .item {
	padding-bottom: 50px;
}
.testimonials{
    padding-top: 63px;
    padding-bottom: 41px;
}
.testimonials .title {
    margin-bottom: 53px;
}
.testimonial-item {
    background: #F3F5F9;
    position: relative;
    padding: 30px 80px 0px 40px;
}
.testimonial-item .left {
    width: 213px;
    float: left;
    padding-top: 13px;
}
.testimonial-item:after {
	content: '';
	display: block;
	width: 124px;
	height: 91px;
	background: url(../images/quote.png);
	position: absolute;
	right: 30px;
	top: -13px;
}
.testimonial-item .left img {
    display: block;
}
.testimonial-item .right {
    width: calc(100% - 213px);
    float: left;
    padding-left: 35px;
    padding-top: 19px;
	padding-bottom: 50px;
}
.testimonial-item h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
.testimonial-item h3 span {
    font-family: 'Gilroy-ExtraBold';
}
.testimonial-item p {
    font-family: 'PTSerif-Italic';
    font-size: 18px;
    line-height: 1.7;
}
.testimonial-item .inner {}
.testimonials .nav {
    float: left;
    position: absolute;
    bottom: -35px;
}
.nav a {
    display: block;
    float: left;
    margin-right: 9px;
    width: 70px;
    height: 70px;
}
.nav .prev {
    background: #F8313E url(../images/arrow-left.png) no-repeat center;
}
.nav .next {
    background: #F8313E url(../images/arrow-right.png) no-repeat center;
}
.nav .prev:hover {
	background: #282C37 url(../images/arrow-left.png) no-repeat center;
}
.nav .next:hover {
	background: #282C37 url(../images/arrow-right.png) no-repeat center;
}

.where {
    height: 700px;
    background: url(../images/where.jpg) no-repeat top;
    color: #fff;
    padding: 64px 0;
}
.where .title {
    margin-bottom: 164px;
}
.where-wrap {}
.where-item {
    float: left;
    width: 195px;
    height: 195px;
    padding-left: 85px;
    margin-right: 188px;
    padding-top: 91px;
}
.where-item p {
    font-size: 20px;
    white-space: nowrap;
}
.where-item p span {
	font-family: 'Gilroy-ExtraBold';
}
.where-item.i1 {
    background: url(../images/where-1.png) no-repeat;
}
.where-item.i2 {
    background: url(../images/where-2.png) no-repeat;
    margin-right: 0;
}
.where-item.i3 {
    background: url(../images/where-3.png) no-repeat;
    float: right;
    position: relative;
    right: -33px;
}

.shema{
    padding-top: 63px;
    padding-bottom: 76px;
}
.shema .title {
    margin-bottom: 53px;
}
.shema .iframe {
    text-align: center;
}
.shema .btn {
	display: none;
}

.shema img {}
.shema iframe {}
.shema p {
    font-family: 'PTSerif-Regular';
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 21px;
    text-align: left;
    padding-left: 239px;
}
.shema p span {
    color: #f22327;
}

.partners .owl-prev {
    top: 50%;
    left: -110px;
    position: absolute;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.partners .owl-next {
    top: 50%;
    right: -110px;
    position: absolute;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-nav div {
    display: block;
    float: left;
    margin-right: 5px;
    width: 70px;
    height: 70px;
	text-indent: -99999px;
}
.owl-nav  .owl-prev {
    background: #F8313E url(../images/arrow-left.png) no-repeat center;
}
.owl-nav  .owl-next {
    background: #F8313E url(../images/arrow-right.png) no-repeat center;
}
.owl-nav  .owl-prev:hover {
	background: #282C37 url(../images/arrow-left.png) no-repeat center;
}
.owl-nav  .owl-next:hover {
	background: #282C37 url(../images/arrow-right.png) no-repeat center;
}

.partners {
	padding-top: 64px;
	padding-bottom: 98px;
}
.partners .title {
	margin-bottom: 56px;
}

footer {
    height: 274px;
    background: url(../images/footer.jpg) no-repeat top;
    color: #fff;
    padding-top: 41px;
}

footer .row {
    margin-bottom: 60px;
}

footer .bottom p {
    margin-bottom: 30px;
    font-size: 15px;
    color: #495163;
}

footer .bottom p:last-child {
    margin-bottom: 0;
}

.modal-info{
    max-width: 1020px !important;
    background: #272D3A !important;
    padding: 20px 60px 65px 70px !important;
    padding-right: 20px !important;
    padding-top: 50px !important;
}
.m-info-wrap {}
.m-info-wrap .img {
    float: left;
    width: 312px;
}
.m-info-wrap .img img {
    max-width: 100%;
}
.m-info-wrap .right {
    float: left;
    width: calc(100% - 312px);
    padding-left: 35px;
    text-align: left;
}
.m-info-wrap h3:before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #F8313E;
    position: absolute;
    left: 0;
    top: 0;
}
.m-info-wrap h3 {
    color: #fff;
    font-size: 24px;
    position: relative;
    padding-top: 15px;
    font-family: 'PTSerif-Regular';
    margin-bottom: 15px;
}
.m-info-wrap p {
    color: #667187;
    margin-bottom: 15px;
}
.m-info-wrap ul {}
.m-info-wrap ul li {
    padding-left: 15px;
    position: relative;
    margin-bottom: 30px;
    color: #667187;
}
.m-info-wrap ul li:before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: url(../images/li-s.png);
    position: absolute;
    left: 0;
    top: 5px;
}
.facts{
    margin-bottom: 20px;
}
.fact-item {
    float: left;
    width: 25%;
    text-align: center;
}
.fact-item .number:before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #F8313E;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
}
.fact-item .number {
    color: #fff;
    font-size: 55px;
    font-family: 'PTSerif-Regular';
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
}
.fact-item p {
    color: #667187;
    font-size: 14px;
}
.bottom-info form {
	width: 270px;
	float: left;
}
.bottom-info {}
.bottom-info .form {}
.bottom-info p:before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: #F8313E;
    position: absolute;
    left: 0;
    bottom: 0;
}
.bottom-info p {
    font-family: 'Gilroy-ExtraBold';
    color: #fff;
    font-size: 30px;
    text-align: left;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
input[type='text']{
    display: block;
    width: 100%;
    border: 0;
    background: #fff;
    height: 70px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    font-family: 'Gilroy-Light';
}
.bottom-info input[type='text']{
    margin-bottom: 10px;
}
.bottom-info .btn:hover {
	color: #fff;
}
.bottom-info .btn {
    width: 100%;
}
.bottom-info .video {
    float: right;
    width: calc(100% - 270px);
    padding-left: 40px;
}
.bottom-info img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    z-index: 999;
}
.bottom-info .video a:hover:after {
	background: rgba(0, 0, 0, 0.55);
}
.bottom-info .video a:after {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.35);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
.bottom-info .video a:before {
	content: '';
	display: block;
	width: 25px;
	height: 28px;
	background: url(../images/play-l.png);
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: 0 auto;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 3;
}
.bottom-info .video a {
    position: relative;
    display: block;
    z-index: 0;
}

.remodal-form {
    max-width: 480px !important;
    text-align: left;
    padding: 40px !important;
}
.remodal-form h2 {
    font-size: 40px;
    font-family: 'Gilroy-ExtraBold';
}
.remodal-form h3 {
    font-size: 40px;
    margin-bottom: 35px;
    white-space: nowrap;
}
.remodal-form input[type='text']{
    border: 1px solid #D4D6D9;
    margin-bottom: 5px;
    box-shadow: inset 0px 3px 0px 0px #F3F5F9;
    font-size: 18px;
}
.remodal-form .btn {
    margin-top: 20px;
}

.main-thx {
    height: 840px;
    background: url(../images/main.jpg) no-repeat top;
    padding-top: 20px;
    color: #fff;
}

.thx-wrap {}
.thx-wrap h1 {
    font-family: 'Gilroy-ExtraBold';
    font-size: 60px;
    margin-bottom: 9px;
    text-transform: uppercase;
}
.thx-wrap h2 {
    font-family: 'PTSerif-Regular';
    font-size: 48px;
    margin-bottom: 35px;
}
.soc{
    width: 250px;
    border: 2px solid #F8313E;
    padding: 25px 0 30px 30px;
    margin-bottom: 40px;
}
.soc p {
    font-size: 19px;
    margin-bottom: 20px;
}
.soc-wrap {}
.soc-wrap a:hover {
	opacity: .7;
}
.soc-wrap a {
    float: left;
    margin-right: 10px;
}
.soc-wrap img {
    display: block;
}
.main-thx .main-top {
    margin-bottom: 86px;
}
.thx-wrap .btn:hover {
	color: #fff;
}
.thx-wrap .btn {
    width: 210px;
}

.thx-wrap {}
.thx-wrap  .left {
    float: left;
    width: 544px;
}
.thx-wrap .right {}


.thx-wrap .right {
    float: left;
    width: calc(100% - 544px);
    padding-top: 10px;
}
.thx-wrap .name-1 {
    margin-left: 11px;
    margin-top: 88px;
}
.thx-wrap .name-2 {
    margin-left: 100px;
    margin-top: 215px;
}
.thx-wrap .name-3 {
    margin-top: 145px;
    float: right !important;
    position: relative;
    right: -99px;
}
.thx-wrap .right div {
    float: left;
}
.thx-wrap .right div span {
    font-family: 'PTSerif-Regular';
    font-size: 22px;
    background: #F8313E;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 9px;
}

.thx-wrap .name-1 .i1 {}
.thx-wrap .name-1 .i2 {
    margin-left: 25px;
}

.thx-wrap .name-2 .i1 {}
.thx-wrap .name-2 .i2 {
    margin-left: 25px;
}

.thx-wrap .name-3 .i1 {}
.thx-wrap .name-3 .i2 {
    margin-left: 25px;
}

.action .row {}
.action input[type='text']{
    border: 1px solid #D4D6D9;
    margin-bottom: 5px;
    box-shadow: inset 0px 3px 0px 0px #F3F5F9;
    font-size: 18px;
    width: 230px;
    float: left;
    margin-right: 19px;
}
.action .row .btn {
    float: left;
}

.action.input .action-wrap {
	max-width: 100%;
	background: url(../images/timer-input.png) no-repeat top;
}

footer.thx-footer {
	padding-top: 72px;
}

img {
	max-width: 100%;
}

.motivation-wrap .center.mobile {
	display: none;
}


.click-m {
	display: none;
}

.fancybox-type-iframe .fancybox-inner {
	overflow: hidden !important;
}

input[type="text"].error {
    background-color: #FCC4C4 !important;
    -webkit-box-shadow: 0 0 5px red;
    box-shadow: 0 0 5px red;
}

@media screen and (max-height: 800px){
	/*.gallery-wrap .row {
		display: block;
	}*/
}

.remodal .scroll {
	max-height: 700px;
}

@media screen and (max-width: 1335px){
	.main-wrap .name-3 {
		right: 15px;
	}
	
	.partners .owl-prev {
		left: 0;
	}
	
	.partners .owl-next {
		right: 0;
	}
	
	.owl-partners {
		padding: 0 65px;
	}
	
	section {
		overflow: hidden;
	}
	
	.owl-nav div {
		width: 48px;
		height: 48px;
	}
}

@media screen and (max-width: 1120px){
	.when-item .vis {
		position: absolute;
		display: block;
		background: #000;
		left: 0;
		top: 27px;
		padding: 5px;
		border: 1px solid #f8313e;
		width: 260px;
	}

	.click-m {
		display: block;
	}
	.when-item.i2:before, .when-item.i1:before {
		display: none;
	}
	.when-item {
		padding: 0 !important;
	}
	.container {
		width: 95%;
		overflow: hidden;
	}
	
	.main {
	    background: url(../images/main-m.jpg) no-repeat bottom;
		height: 1240px;
	}
	
	.main-thx {
		background: url(../images/main-m.jpg) no-repeat bottom;
		height: 1240px;
	}
	
	.thx-wrap .right {
		display: none;
	}
	
	footer.thx-footer {
		padding: 40px 0;
	}
	
	.main-thx .main-top {
		margin-bottom: 25px;
	}
	
	.when-item p, .when-item span {
		display: none;
	}
	
	.when-item .vis p, .when-item .vis span {
		display: block;
	}
	
	.when-item.i2 {
		margin-left: 20px;
	}
	
	.when-item.i2:before {
		top: 0;
	}
	
	.main-top {
		margin-bottom: 30px;
	}
	
	.main-wrap h1 {
		font-size: 33px;
		margin-bottom: 20px;
	}
	
	.main-wrap h2 {
		font-size: 36px;
		margin-bottom: 30px;
	}
	
	.main-wrap .right {
		display: none;
	}
	
	.action-wrap, .action.input .action-wrap {
		height: auto;
		padding: 30px;
		background-color: #fff;
		background: #fff url(../images/tickets.png) no-repeat right 139px;
	}
	
	.action {
	    height: auto;
		background-size: cover;
		padding: 40px 0;
	}
	
	.action br {
		display: none;
	}
	
	.action .number {
		font-size: 42px;
	}
	
	.action .timer-item {
		width: 60px;
		height: 80px;
	}
	
	.action .timer-item:after {
		font-size: 46px;
	}
	
	.action .timer {
		margin-bottom: 0;
	}
	
	.action .timer span {
		font-size: 13px;
	}
	
	h2.title {
		font-size: 38px;
	}
	
	.for-item {
	    width: 31%;
		margin: 1% !important;
		padding-left: 5px;
		padding-right: 5px;
	}
	
	.conferenz-item {
	    width: 31%;
		margin: 1% !important;
	}
	
	.x3-item p {
		font-size: 16px;
	}
	
	.motivation {
		height: auto;
		background: #fff;
		padding-bottom: 30px;
	}
	
	.motivation-wrap .left p {
	    float: right;
		margin-top: 48px;
		margin-left: 16px;
	}
	
	.motivation-wrap .right .number {
		float: right;
	}
	
	.motivation-wrap .right p {
		margin-top: 60px;
		text-align: left;
		float: left;
	}
	
	.motivation-wrap {
		text-align: center;
	}
	
	.motivation-wrap .center {
		display: none;
	}
	
	.motivation-wrap .center.mobile {
		display: block;
	    margin: 0 auto;
		float: none;
		margin-top: -35px;
		margin-bottom: 35px;
	}
	
	.motivation-wrap .left {
	    float: none;
		margin: 0 auto;
		padding: 0;
	}
	
	.motivation-wrap .right {
	    float: none;
		margin: 0 auto;
		padding: 0;
	}
	
	.motivation ul {
		padding: 0;
	}
	
	.motivation ul li {
		float: none;
		margin-bottom: 15px;
		margin-left: 0 !important;
		margin-top: 0;
	}
	
	.stars {
		height: auto;
		background-repeat: repeat;
		padding: 40px 0;
		text-align: center;
	}
	
	.stars-item, .invite-item {
		text-align: left;
		float: none !important;
		display: inline-block;
		vertical-align: top;
		margin: 0 0 55px !important;
		width: 300px;
	}
	
	.invite-wrap {
		text-align: center;
	}
	
	.stars .title {
		text-align: left;
	}
	
	.programm-item .left {
	    float: none;
		margin: 0 auto;
		width: 100%;
		max-width: 448px;
	}
	
	.programm-item ul li br {
		display: none;
	}
	
	.programm-item .right {
		width: 100%;
	}
	
	.but-item {
	    width: 300px;
		float: none;
		display: inline-block;
		margin: 0 0 15px !important;
		text-align: left;
	}
	
	.but-wrap {
		text-align: center;
	}
	
	.but-item  p {
		font-size: 15px;
	}
	
	.action input[type='text'] {
	    width: 49%;
		margin-right: 1%;
	}
	
	.action .row .btn {
		width: 49%;
	}
	
	.author .left {
		float: none;
		margin: 0 auto;
		width: 100%;
		max-width: 448px;
		margin-bottom: 60px;
	}
	
	.author ul li br {
		display: none;
	}
	
	.author .right {
		width: 100%;
	}
	
	.gives .left {
		max-width: 100%;
	}
	
	.gives .right {
		float: none;
		max-width: 100%;
		margin: 0;
		clear: both;
	}
	
	.gives ul li br {
		display: none;
	}
	
	.invite {
	    height: auto;
		padding: 40px 0;
		background-size: cover;
	}
	
	.table table {
	    margin: 0;
		border-spacing: 0;
	}
	
	.table table thead tr td:first-child:after {
		display: none;
	}
	
	.table table tbody tr td:first-child:after {
		display: none;
	}
	
	.table table tbody tr td.wave {
		width: auto;
		min-width: 0;
	}
	
	.table table thead th:first-child {
		min-width: 0;
	}
	
	.table table tbody tr td.wave:after {
		display: none;
	}
	
	.table table .button {
		width: 187px;
		font-size: 14px;
	}
	
	.testimonial-item p br {
		display: none;
	}
	
	.testimonial-item:after {
		display: none;
	}
	
	.testimonial-item {
		padding: 30px 30px 0;
	}
	
	.where-item {
	    float: none;
		display: inline-block;
		vertical-align: top;
		text-align: left;
	    width: 300px;
		margin: 0 10px 25px !important;
	}
	
	.where-wrap {
		text-align: center;
	}
	
	.where-item.i3 {
		float: none;
		position: static;
	}
	
	.where {
		height: auto;
		padding: 40px 0;
		background-size: cover;
	}
	
	.where .title {
		margin-bottom: 60px;
	}
	
	.shema p {
		padding: 0;
		text-align: center;
	}
	
	footer {
		height: auto;
		padding: 40px 0;
		background-size: cover;
	}
	
	.fact-item .number {
		font-size: 36px;
	}
	
	.modal-info {
		padding: 20px !important;
	}
	
	.fact-item p {
		font-size: 14px;
	}
	
	.remodal-close {
		z-index: 999;
	}
	
	.gallery-wrap .row div {
		padding: 2px;
	}
	
	.gallery-wrap .row {
		margin-left: 0;
		margin-right: 0;
	}
}

@media screen and (max-width: 767px){
	.gallery-wrap .row div {
		padding: 2px;
	}
	.main-thx {
		height: 803px;
		background: url(../images/main-s.jpg) no-repeat top;
	}	
	
	.thx-wrap h1 {
		font-size: 24px;
	}
	
	.thx-wrap h2 {
		font-size: 20px;
		margin-bottom: 15px;
	}
	
	.soc {
		margin-bottom: 15px;
	}
	
	.shema .iframe iframe {
		display: none;
	}
	
	.shema .btn {
		display: block;
		margin: 0 auto 35px;
	}
	
	
	.table table .button {
		display: none;
	}
	
	.table table thead th {
		padding: 5px;
	}
	
	.table table thead th {
		font-size: 11px;
	}
	
	.table table thead tr td:first-child {
		font-size: 12px;
	}
	
	.table table tbody tr td {
		font-size: 12px;
	}
	
	.button-mobile {
		display: block;
		max-width: 300px;
		margin: 30px auto 0;
	}
	
	.buy-mobile{
		display: block;
		max-width: 300px;
		margin: 0 auto 20px;
	}
	
	.for-item p {
		font-size: 14px;
	}
	
	.conferenz-item p {
		font-size: 14px;
	}
	
	.x3-item {
		width: 100%;
		margin-bottom: 20px;
	}
	
	.x3 {
		height: auto;
		padding: 40px 0;
		background-size: cover;
	}
	
	.programm-item .right {
		padding: 15px;
	}
	
	.but-item {
		width: 100%;
	}
	
	.action input[type='text'] {
		width: 100%;
		margin: 0 0 5px !important;
	}
	
	.action .row .btn {
		width: 100%;
	}
	
	.author .right {
		padding: 0;
	}
	
	.gives {
		padding-top: 0;
	}
	
	.testimonial-item .left {
		float: none;
		margin: 0 auto;
	}
	
	.testimonial-item .right {
		width: 100%;
		float: none;
		padding: 15px;
	}
	
	.testimonials .nav {
		bottom: -80px;
	}
	
	.testimonials .item {
		padding-bottom: 90px;
	}
	
	.shema .title {
		margin-bottom: 30px;
	}
	
	.shema p br {
		display: none;
	}
	
	#map {
		height: 250px;
	}
	
	.m-info-wrap .img {
		float: none;
		margin: 0 auto;
	    width: 100%;
	}
	
	.m-info-wrap .right {
		width: 100%;
		padding: 0;
	}
	
	.fact-item {
		width: 50%;
		margin-bottom: 25px;
	}
	
	.bottom-info form {
		width: 100%;
	}
	
	.bottom-info .video {
		width: 100%;
		padding: 0;
		margin-bottom: 20px;
	}
	
	.facts {
		margin-bottom: 20px;
	}
	
	.main {
		height: 803px;
		background: url(../images/main-s.jpg) no-repeat top;
	}
	
	.main-wrap .left {
		width: 100%;
	}
	
	.main-wrap h2 br {
		display: none;
	}
	
	.main-wrap .first {
	    font-size: 14px;
		height: 20px;
		line-height: 20px;
		padding: 0 5px;
		margin-bottom: 5px;
	}
	
	.main-wrap .main-border {
	    width: 152px;
		height: 152px;
		background: url(../images/border-mobile.png) no-repeat;
	}
	
	.main-wrap .main-border .number {
		font-size: 64px;
	}
	
	.main-wrap .main-border .number:before {
		font-size: 18px;
	}
	
	.main-border ul li {
		font-size: 16px;
		margin-bottom: 0;
		padding-left: 14px;
	}
	
	.main-border ul {
	    padding-top: 13px;
		padding-left: 0;
		margin-left: -14px;
	}
	
	.main-border ul li:before {
		width: 8px;
		height: 8px;
		background: url(../images/li-s.png);
	}
	
	.main-wrap h1 {
		margin-bottom: 10px;
	}
	
	.main-wrap h2{
		margin-bottom: 20px;
	}
	
	.remodal-form h3{
		font-size: 22px;
	}
	
	.remodal-form h2 {
		font-size: 28px;
	}
}

@media screen and (max-width: 480px){
	.table table thead tr:nth-child(2) td+td {
		font-size: 12px;
	}
	
	.table table thead tr:nth-child(3) td+td {
		font-size: 12px;
	}
	
	.table table thead tr:nth-child(4) td+td {
		font-size: 12px;
	}
	
	.table table thead tr td {
	    padding: 13px 18px;
	}
	
	.right-info .call {
		display: none;
	}
	
	.action h2 {
		font-size: 22px;
	}
	
	.action h3 {
		font-size: 25px;
	}
	
	.action .timer-item {
		width: 53px;
	}
	
	.btn {
		width: 100%;
	}
	
	h2.title {
		font-size: 25px;
	}
	
	.for-item {
		width: 48%;
	}
	
	.conferenz-item p {
		font-size: 11px;
	}
	
	.motivation-wrap .center.mobile {
		width: 300px;
		background-size: contain;
		height: 345px;
		padding-top: 85px;
	}
	
	.motivation-wrap .center h4 {
		font-size: 26px;
	}
	
	.motivation-wrap .left, .motivation-wrap .right {
		width: 300px;
	}
	
	.testimonial-item {
		padding: 10px;
	}
	
	.remodal .scroll {
		max-height: 435px;
	}

}